<header class="o-container o-box">
    <nav aria-label="Navigation">
        <h2 class="u-visually-hidden">Navigation</h2>
        <div class="o-cluster o-cluster--l o-cluster--space-between">
            <a class="o-cluster o-cluster--s c-logo | h-card u-url u-uid"
               href="{{ "/" | url }}"
               rel="home me">
                <img src="{{ app.icon }}" class="c-logo__img" aria-hidden="true" />
                <span class="c-logo__text u-font-weight:bold"><span class="u-visually-hidden">Homepage of </span>alienlebarge</span>
            </a>
            {%- if navigation.primary and type != "opengraph" -%}
            <div class="c-nav">
                <ul class="o-cluster o-cluster--s">
                    {%- for item in navigation.primary -%}
                    <li>
                        <a href="{{ item.url }}">{{ item.label }}</a>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
            {%- endif -%}
        </div>
    </nav>
</header>
