<header class="o-container o-box">
    <nav aria-label="Navigation">
        <h2 class="u-visually-hidden">Navigation</h2>
        <div class="o-cluster o-cluster--step-1 o-cluster--space-between">
            <div class="c-logo">
                <a class="u-font-weight:bold"
                   href="{{ "/" | url }}"
                   rel="home">
                    <span class="u-visually-hidden">Homepage of </span>alienlebarge
                </a>
            </div>
            {%- if navigation.primary -%}
            <div>
                <ul class="o-cluster o-cluster--step--2">
                    {%- for item in navigation.primary -%}
                    <li>
                        <a href="{{ item.url }}">{{ item.label }}</a>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
            {%- endif -%}
        </div>
    </nav>
</header>
