<header class="o-prose{% if vocab and type != "note" %} | p-name{% endif %}">
    {# add `safe` to allow to have `<time>` tag for notes title #}
    <h1 class="u-title">{{ title | safe }}</h1>
    {% if summary -%}
        <p class="u-lede{% if vocab %} | p-summary{% endif %}">
            {{- summary -}}
        </p>
    {%- endif %}
</header>
