{% macro listItems(items, modifier, limit, reverse) %}
<ul class="{% if modifier %}{{ modifier }} {% endif %}o-stack o-stack--step-4">
    {% if limit and reverse -%}
        {%- for item in items | reverse-%}
            {% if loop.index0 < limit and not item.data.deleted -%}
                <li class="o-separator">
                {%- include 'item/' + item.data.type + '.njk' -%}
                </li>
            {%- endif %}
        {%- endfor -%}
    {% elif limit %}
        {%- for item in items -%}
            {% if loop.index0 < limit and not item.data.deleted -%}
                <li class="o-separator">
                {%- include 'item/' + item.data.type + '.njk' -%}
                </li>
            {%- endif %}
        {%- endfor -%}
    {%- else -%}
        {%- for item in items -%}
        {%- if not item.data.deleted -%}
            <li class="o-separator">
            {%- include 'item/' + item.data.type + '.njk' -%}
            </li>
        {%- endif -%}
        {%- endfor -%}
    {% endif %}
</ul>
{% endmacro %}



{% macro gridItems(items) %}

{%- set image_preset = "grid" -%}
<div class="[ o-box o-box--container-big ]">
    <ul class="o-grid">
        {%- for item in items -%}
        {%- if not item.data.deleted -%}
        <li>
        {%- include 'item/' + item.data.type + '.njk' -%}
        </li>
        {%- endif -%}
        {%- endfor -%}
    </ul>
</div>
{% endmacro %}
