{% macro listItems(items, modifier, limit, reverse) %}
<ul class="{% if modifier %}{{ modifier }} {% endif %}o-stack o-stack--space-3xl">
    {% if limit and reverse -%}
        {%- for item in items | reverse-%}
            {% if loop.index0 < limit -%}
                <li>
                {%- include 'item/' + item.data.type + '.njk' -%}
                </li>
            {%- endif %}
        {%- endfor -%}
    {% elif limit %}
        {%- for item in items -%}
            {% if loop.index0 < limit -%}
                <li>
                {%- include 'item/' + item.data.type + '.njk' -%}
                </li>
            {%- endif %}
        {%- endfor -%}
    {%- else -%}
        {%- for item in items -%}
            <li>
            {%- include 'item/' + item.data.type + '.njk' -%}
            </li>
        {%- endfor -%}
    {% endif %}
</ul>
{% endmacro %}



{% macro gridItems(items) %}

{%- set image_preset = "grid" -%}
<div class="o-container o-box">
    <ul class="o-grid">
        {%- for item in items -%}
        <li>
        {%- include 'item/' + item.data.type + '.njk' -%}
        </li>
        {%- endfor -%}
    </ul>
</div>
{% endmacro %}
