{%- if navigation.secondary -%}
<nav aria-label="Secondary navigation">
    <h2 class="u-visually-hidden">Secondary navigation</h2>
    <ul class="[ o-cluster o-cluster--step--2 ]">
        {%- for item in navigation.secondary -%}
        <li>
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {%- endfor -%}
    </ul>
</nav>
{%- endif -%}
