<aside class="o-container o-box">
    <div class="o-box">
        <h2 class="u-overline">Become a Patreon</h2>
        <p class="u-reference">If you like what
            I do and want to support my work, consider joining my crew on <a
                href="https://www.patreon.com/bePatron?u=10910199"
                rel="excternal">Patreon</a>.
        </p>
    </div>
</aside>
