{%- set absoluteUrl -%}{{ app.url }}{{ page.url | url }}{%- endset -%}
{%- set mentions = webmentions.children | webmentions_for_url(absoluteUrl) -%}

{% if mentions | length %}
    <section class="o-box o-box--container o-stack o-stack--space-3xl">
        <header>
            <h2 class="u-overline">Webmentions</h2>
        </header>

        <div class="[ o-stack o-stack--space-3xl ]">
        {% for webmention in mentions | reverse %}
            {% include 'item/webmention.njk' %}
        {% endfor %}
        </div>
    </section>
{% endif %}
