<a class="o-with-sidebar | u-url" rel="bookmark" href="{{ item.url | url }}">
    <time class="u-reference dt-published" datetime="{{ item.date | date }}">
        {{- item.date | date("YYYY-MM-DD") -}}
    </time>
    <span>
        {{- item.data.title -}}
    </span>
</a>
