<article class="c-item | h-entry" data-type="note">
    {% if item.data.title %}
    <header class="o-prose c-item__header">
        <h3 class="u-subhead">{{- item.data.title -}}</h3>
    </header>
    {% endif %}
    <div class="o-prose c-item__content | e-content p-name">
        {{ item.content | safe }}
        {%- if item.data.likeOf -%}
        <a href="{{- item.data.likeOf | safe -}}">
            {{- item.data.likeOf | safe -}}
        </a>
        {%- elif item.data.jam_of -%}
        <spotify-jam>
            <a href="{{- item.data.jam_of.url -}}"><cite>{{- item.data.jam_of.name -}}</cite> by {{ item.data.jam_of.author }}</a>
        </spotify-jam>
        {%- endif -%}
    </div>
    <footer class="c-footer c-item__footer u-reference" style="--line-height-reference: var(--line-height-loose);">
        <dl class="o-stack o-stack--space-xs">
            <dt class="u-visually-hidden">Published on</dt>
            <dd>
            <a class="u-url" rel="bookmark" href="{{ item.url | url }}">
                {#- TODO: use src/_data/dates.json to format the date. -#}
                <time class="dt-published"
                      datetime="{{ item.date | date }}">
                    <span>{{ item.date | date("YYYY-MM-DD") }}</span> <span class="c-item__date-separator">&bull; </span>
                    <span>{{ item.date | date("HH:mm") }}</span>
                </time>
            </a>
            </dd>
            {% if item.data.repostOf %}
                <dt class="u-visually-hidden">Repost of</dt>
                <dd>
                <a class="u-repost-of"
                   rel="external"
                   href="{{ item.data.repostOf }}">
                    {{- item.data.repostOf -}}
                </a>
                </dd>
            {% endif %}
        </dl>
    </footer>
</article>
