<article class="o-with-sidebar | h-entry" data-type="note">
    <footer class="c-footer u-reference">
        <dl class="o-stack o-stack--space-xs">
            <dt class="u-visually-hidden">Published on</dt>
            <dd>
            <a class="u-url" rel="bookmark" href="{{ item.url | url }}">
                {#- TODO: use src/_data/dates.json to format the date. -#}
                <time class="o-stack o-stack--space-2xs  | dt-published"
                      datetime="{{ item.date | date }}">
                    <span>{{ item.date | date("YYYY-MM-DD") }}</span>
                    <span>{{ item.date | date("HH:mm") }}</span>
                </time>
            </a>
            </dd>
            {% if item.data.repostOf %}
                <dt class="u-visually-hidden">Repost of</dt>
                <dd>
                <a class="u-repost-of"
                   rel="external"
                   href="{{ item.data.repostOf }}">
                    {{- item.data.repostOf -}}
                </a>
                </dd>
            {% endif %}
        </dl>
    </footer>
    <div class="o-prose | e-content p-name">
        {{ item.content | safe }}
        {%- if item.data.likeOf -%}
        <a href="{{- item.data.likeOf | safe -}}">
            {{- item.data.likeOf | safe -}}
        </a>
        {%- endif -%}
    </div>
</article>
