<article class="h-entry" data-type="like">
    <div class="o-prose | e-content p-name">
        <a href="{{ item.data.likeOf | safe }}">
            {{ item.data.likeOf | safe }}
        </a>
    </div>
    <footer class="o-prose">
        <dl>
            <dt class="u-visually-hidden">Published on</dt>
            <dd>
            <a class="u-url" rel="bookmark" href="{{ item.url | url }}">
                {# TODO: use src/_data/dates.json to format the date. #}
                <time class="o-cluster--step--2 | dt-published"
                      datetime="{{ item.date | date }}">
                    <span>{{ item.date | date("D MMM YYYY") }}</span>
                    <span>{{ item.date | date("HH:mm") }}</span>
                </time>
            </a>
            </dd>
        </dl>
    </footer>
</article>
