<header class="c-banner">
    <nav class="o-container" aria-label="Navigation">
        <h2 class="u-visually-hidden">Navigation</h2>
        <ul class="c-navigation">
            <li class="c-navigation__logo"><a href="{{ "/" | url }}">alienlebarge</a></li>
            {%- if navigation.primary -%}
            <li class="c-navigation__primary"><span class="u-visually-hidden">Primary navigation</span>
                <ul class="o-list-inline">
                    {%- for item in navigation.primary -%}
                    <li class="o-list-inline__item"><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {%- endfor -%}
                </ul>
            </li>
            {%- endif -%}
            {%- if navigation.secondary -%}
            <li class="c-navigation__secondary"><span class="u-visually-hidden">Secondary secondary</span>
                <ul class="o-list-inline">
                    {%- for item in navigation.secondary -%}
                    <li class="o-list-inline__item"><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {%- endfor -%}
                </ul>
            </li>
            {%- endif -%}
        </ul>
    </nav>
</header>
