<header class="c-container">
    <nav class="o-cluster o-cluster--medium" aria-label="Navigation">
        <h2 class="u-visually-hidden">Navigation</h2>
        <div class="o-cluster__container--space-between">
            <div class="o-cluster__item c-logo">
                <a class="u-font-weight:bold
                u-font-family:monospace
                u-font-style:italic"
                   href="{{ "/" | url }}"
                   rel="home">
                    <span class="u-visually-hidden">Homepage of </span>alienlebarge
                </a>
            </div>
            {%- if navigation.items -%}
            <div class="o-cluster__item">
                <div class="o-cluster o-cluster--small">
                    <ul class="o-cluster__container">
                        {%- for item in navigation.items -%}
                        <li class="o-cluster__item">
                            <a href="{{ item.url }}">{{ item.label }}</a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
            {%- endif -%}
        </div>
    </nav>
</header>
