<header class="o-container">
    <nav>
        <h2 class="u-visually-hidden">Navigation</h2>
        <ul>
            {%- if navigation.primary -%}
            <li><a href="{{ "/" | url }}">alienlebarge</a></li>
            {%- for item in navigation.primary -%}
            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
            {%- endfor -%}
            {%- endif -%}
            {%- if navigation.secondary -%}
            <li>Secondary
                <ul>
                    {%- for item in navigation.secondary -%}
                    <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {%- endfor -%}
                </ul>
            </li>
            {%- endif -%}
        </ul>
    </nav>
    {% import 'navigation.njk' as nav %}
    {{ nav.menu(navigation.primary) }}
    {{ nav.menu(navigation.secondary, title="Navigation secondary") }}
</header>
