<div class="[ c-container c-container--big ] o-prose{% if vocab %} | e-content{% if type == "note" %} p-name{% endif %}{% endif %}">

    {# add photo if there is any #}
    {%- if photo %}
        {%- import 'image.njk' as image -%}
        {%- for item in photo -%}
        <figure>
            {{ image.image(item.url, item.alt, settings=srcsets.default) }}
            {%- if item.caption -%}
            <figcaption>{{ item.caption }}</figcaption>
            {%- endif -%}
        </figure>
        {%- endfor -%}
    {%- endif %}

    {{ content | safe }}
</div>
