<footer class="o-cluster o-cluster--medium c-container c-contentinfo">
    <div class="o-cluster__container--space-between">
    {%- include 'social.njk' -%}
    {%- include 'navigation-secondary.njk' -%}
    </div>
</footer>
