{% if date or bookmarkOf -%}
<footer class="c-footer">
    <dl class="[ o-stack o-stack--step--1 ]">
        {% if type == "like" %}
        <dt class="u-visually-hidden">Liked</dt>
        <dd>
            <a class="u-like-of u-lede c-background__text" rel="external" href="{{ bookmarkOf }}">
                {{- bookmarkOf | hostname -}}
            </a>
        </dd>
        {% endif %}
        {% if type == "bookmark" -%}
        <dt class="u-visually-hidden">Bookmark</dt>
        <dd>
            <a class="u-bookmark-of u-lede c-background__text" rel="external" href="{{ bookmarkOf }}">
                {{- bookmarkOf | hostname -}}
            </a>
        </dd>
        {%- endif %}
        {% if date -%}
        <dt class="u-visually-hidden">Published on</dt>
        <dd class="">
            <a{% if vocab %} class="u-url"{% endif %} href="{{ page.url | url }}">
                <time class="dt-published c-background__text"
                      datetime="{{ date | date(dates.iso) }}">{{ date | date(dates.datetime_full) }}</time>
            </a>
        </dd>
        {%- endif %}
        {% if syndication -%}
        <div class="o-cluster">
                <dt class="u-visually-hidden">Also on</dt>
                {% for item in syndication %}
                <dd>
                    <a{% if vocab %} class="c-background__text u-url"{% endif %} href="{{ item }}" rel="external">
                        {{- item | syndication_target -}}
                    </a>
                </dd>
                {% endfor %}
        </div>
        {%- endif %}
    </dl>
</footer>
{%- endif %}
