{% macro footer(item) %}
<footer>
    <dl>
        <dt>Published on</dt>
        <dd>
        <a href="{{ item.url | url }}">
            {# TODO: use src/_data/dates.json to format the date. #}
            <time datetime="{{ item.data | date }}">{{ item.date | date("D MMMM YYYY, HH:mm") }}</time>
        </a>
        </dd>
    </dl>
</footer>
{% endmacro %}
