{% if date or bookmarkOf -%}
<footer class="c-footer">
    <dl class="[ o-stack o-stack--step--1 ]">
        {% if type == "like" %}
        <dt class="u-visually-hidden">Liked</dt>
        <dd>
            <a class="u-like-of u-lede c-background__text" rel="external" href="{{ bookmarkOf }}">
                {{- bookmarkOf | hostname -}}
            </a>
        </dd>
        {% endif %}
        {% if type == "bookmark" -%}
        <dt class="u-visually-hidden">Bookmark</dt>
        <dd>
            <a class="u-bookmark-of u-lede c-background__text" rel="external" href="{{ bookmarkOf }}">
                {{- bookmarkOf | hostname -}}
            </a>
        </dd>
        {%- endif %}
        {% if date -%}
        <div class="[ o-cluster o-cluster--step--3 ]
                    c-background__text
                    u-width:fit-content">
            <dt class="u-visually-hidden">Published on</dt>
            <dd>
                <a{% if vocab %} class="u-url"{% endif %} href="{{ page.url | url }}">
                    <time class="dt-published"
                          datetime="{{ date | date(dates.iso) }}">{{ date | date(dates.datetime_full) }}</time>
                </a>
            </dd>
        </div>
        {%- endif %}
        {% if syndication -%}
        <div class="[ o-cluster o-cluster--step--3 ]
                    c-background__text
                    u-width:fit-content">
            <dt>Also on</dt>
            {% for item in syndication %}
            <dd>
                <a{% if vocab %} class="u-url"{% endif %} href="{{ item }}" rel="external">
                    {{- item | syndication_target -}}
                </a>
                {%- if loop.revindex == 2 %}<span aria-hidden="true"> and</span>
                {%- elif not loop.last -%}<span aria-hidden="true">,</span>{%- endif -%}
            </dd>
            {% endfor %}
        </div>
        {%- endif %}
        {% if inReplyTo -%}
        <div class="[ o-cluster o-cluster--step--3 ]
                    c-background__text
                    u-width:fit-content">
            <dt>In reply to a post on</dt>
            <dd>
                <a{% if vocab %} class="u-in-reply-to"{% endif %}
                    href="{{ inReplyTo }}" rel="external">
                    {{- inReplyTo | syndication_target -}}
                </a>
            </dd>
        </div>
        {%- endif %}
    </dl>
</footer>
{%- endif %}
