<header class="[ o-stack o-stack--s1 ] o-prose c-header{% if vocab and type != "note" %} | p-name{% endif %}">
  <h1 class="u-title"><span class="c-background__text">{{ title }}</span></h1>
    {% if summary -%}
        <p class="u-lede{% if vocab %} | p-summary{% endif %}">
          <span class="c-background__text">{{ summary }}</span>
        </p>
    {%- endif %}
</header>
