<header class="[ o-stack o-stack--s1 ] c-header{% if vocab and type != "note" %} | p-name{% endif %}">
    <h1 class="u-title">{{ title }}</h1>
    {% if summary -%}
        <p class="u-lede {% if vocab %} | p-summary{% endif %}">
        {{ summary }}
        </p>
    {%- endif %}
</header>
