<header class="[ o-box o-box--s1 ] [ o-stack o-stack--s1 ] o-prose c-header{% if vocab and type != "note" %} | p-name{% endif %}">
  <h1 class="u-title"><span class="c-header__no-bg">{{ title }}</span></h1>
    {% if summary -%}
        <p class="u-lede {% if vocab %} | p-summary{% endif %}">
          <span class="c-header__no-bg">{{ summary }}</span>
        </p>
    {%- endif %}
</header>
