{# IndieKit includes app.url in image path #}
{# as app data are in JS, it will not work locally #}
{%- set src -%}{{ src | replace(app.url, "") }}{%- endset -%}

{# Only use Cloudinary if there is needed transformations #}
{%- if image_transformations -%}

    {%- set base = "https://res.cloudinary.com/alienlebarge/image/fetch/" -%}

    {# Put the app.url back. Cloudinary need it #}
    {%- set src -%}{{ app.url }}{{ src }}{%- endset -%}
    {%- set transformations -%}
        {%- if image_transformations.ratio -%}ar_{{ image_transformations.ratio }},{%- endif -%}
        {%- if image_transformations.width -%}w_{{ image_transformations.width }},{%- endif -%}c_fill,g_auto/
    {%- endset -%}

{%- endif -%}

<img src="{{ base }}{{ transformations }}{{ src | url }}" alt="{{ alt }}" loading="lazy">
