{% macro image(src, alt, settings) %}

{%- set sizes = settings.sizes -%}

{# The base url for Cloudinary to fetch the images #}
{%- set base = "https://res.cloudinary.com/alienlebarge/image/fetch" -%}



{# set transformations with the default width #}
{%- set transformations -%}
    {%- if settings.ratio -%}
        ar_{{ settings.ratio }},
    {%- endif -%}
    {%- if settings.width -%}
        w_{{ settings.width }},
    {%- endif -%}
    c_fill,g_auto
{%- endset -%}



{# set srcset without the default width#}
{%- set srcset -%}
    {%- for width in settings.widths -%}
        {{ base }}/w_{{ width }},{%- if settings.ratio -%}ar_{{ settings.ratio }},{%- endif -%}c_fill,g_auto/{{ src | url }} {{ width }}w
        {%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
{%- endset -%}



{# Put everything together to build the img src #}
{%- set src -%}{{ base }}/{{ transformations }}/{{ src | url }}{%- endset -%}



{# Output #}
<img src="{{ src }}" class="u-photo" srcset="{{ srcset }}" sizes="{{ settings.sizes }}" alt="{{ alt }}" loading="lazy">

{% endmacro %}
