{% macro listItems(items, modifier, limit) %}
<ul class="{% if modifier %}{{ modifier }} {% endif %}o-stack o-stack--step-4">
    {% if limit -%}
        {%- for item in items -%}
            {% if loop.index0 < limit -%}
                <li class="o-separator">
                    {%- include 'item/' + item.data.type + '.njk' -%}
                </li>
            {%- endif %}
        {%- endfor -%}
    {%- else -%}
        {%- for item in items -%}
        <li class="o-separator">
            {%- include 'item/' + item.data.type + '.njk' -%}
        </li>
        {%- endfor -%}
    {% endif %}
</ul>
{% endmacro %}



{% macro gridItems(items) %}

{%- set image_preset = "grid" -%}
<div class="[ c-container c-container--big ]">
    <ul class="o-grid">
        {%- for item in items -%}
        <li>
        {%- include 'item/' + item.data.type + '.njk' -%}
        </li>
        {%- endfor -%}
    </ul>
</div>
{% endmacro %}
