{% macro menu(navigationLevel) %}
{# Check if there something in `navigationLevel` #}
{%- if navigationLevel > 0 -%}
<nav>
    <h2>Navigation macro</h2>
    <ul>
        {%- for item in navigationLevel -%}
        <li><a href="{{ item.url }}">{{ item.label }}</a></li>
        {%- endfor -%}
    </ul>
</nav>
{% endif %}
{% endmacro %}
