{% macro menu(navigationLevel, title='Navigation') %}
{# Check if there something in `navigationLevel` #}
{%- if navigationLevel -%}
<nav>
    <h2 class="u-visually-hidden">{{ title }}</h2>
    <ul>
        {%- for item in navigationLevel -%}
        <li><a href="{{ item.url }}">{{ item.label }}</a></li>
        {%- endfor -%}
    </ul>
</nav>
{%- else -%}
{# Print an error message #}
<p>There is an error</p>
{%- endif -%}
{% endmacro %}
