{% macro paginate(pagination, label="Undefined") %}
{# Check if there's more than one page. Unless, we do not need a pagination. #}
{%- if pagination.hrefs.length > 1 -%}
<nav class="[ c-container ] c-pagination" aria-label="Pagination">
  <h2 class="u-visually-hidden">Pagination</h2>
  <ul class="o-stack o-stack--step-0">
    {# Check if we are on the last page #}
    {%- if pagination.nextPageHref -%}
    <li class="o-stack__item">
        <a href="{{ pagination.nextPageHref }}"
           rel="next"
           class="c-pagination__link">
            <span class="pagination__arrow" aria-hidden="true">&larr;</span>
            <span>Older {{ label | lower }}</span>
            <span class="u-visually-hidden">:</span>
            <span class="c-pagination__caption">Page {{ pagination.pageNumber + 2 }} of {{ pagination.hrefs.length }}</span>
        </a>
    </li>
    {%- endif -%}
    {# Check if we are on the first page #}
    {%- if pagination.previousPageHref -%}
    <li class="o-stack__item">
        <a href="{{ pagination.previousPageHref }}"
           rel="prev"
           class="c-pagination__link">
            <span class="pagination__arrow" aria-hidden="true">&rarr;</span>
            <span>Newer {{ label | lower }}</span>
            <span class="u-visually-hidden">:</span>
            <span class="c-pagination__caption">Page {{ pagination.pageNumber }} of {{ pagination.hrefs.length }}</span>
        </a>
    </li>
    {%- endif -%}
  </ul>
</nav>
{%- endif -%}
{% endmacro %}
