{% macro paginate(pagination, label="Undefined") %}
{# Check if there's more than one page. Unless, we do not need a pagination. #}
{%- if pagination.hrefs.length > 1 -%}
<nav aria-label="Pagination">
  <h2>Pagination</h2>
  <ul>
    {# Check if we are on the last page #}
    {%- if pagination.nextPageHref -%}
    <li>
      <a href="{{ pagination.nextPageHref }}"><span>Older {{ label }}</span> <span>(Page {{ pagination.pageNumber + 2 }} of {{ pagination.hrefs.length }})</span></a>
    </li>
    {%- endif -%}
    {# Check if we are on the first page #}
    {%- if pagination.previousPageHref -%}
    <li>
      <a href="{{ pagination.previousPageHref }}"><span>Newer {{ label }}</span> <span>(Page {{ pagination.pageNumber }} of {{ pagination.hrefs.length }})</span></a>
    </li>
    {%- endif -%}
  </ul>
</nav>
{%- endif -%}
{% endmacro %}
