{% macro paginate(pagination, label="Undefined") %}
{# Check if there's more than one page. Unless, we do not need a pagination. #}
{%- if pagination.hrefs.length > 1 -%}
<nav class="[ o-box o-box--s1 ] c-pagination" aria-label="Pagination">
  <h2 class="u-visually-hidden">Pagination</h2>
  <ul class="o-stack o-stack--s0">
    {# Check if we are on the last page #}
    {%- if pagination.nextPageHref -%}
    <li class="o-stack__item">
        <a href="{{ pagination.nextPageHref }}"
           rel="next"
           class="c-pagination__link">
            <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M231.536 475.535l7.071-7.07c4.686-4.686 4.686-12.284 0-16.971L60.113 273H436c6.627 0 12-5.373 12-12v-10c0-6.627-5.373-12-12-12H60.113L238.607 60.506c4.686-4.686 4.686-12.284 0-16.971l-7.071-7.07c-4.686-4.686-12.284-4.686-16.97 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971l211.051 211.05c4.686 4.686 12.284 4.686 16.97-.001z"/>
            </svg>
            <span>Older {{ label | lower }}</span>
            <span class="u-visually-hidden">:</span>
            <span class="c-pagination__caption">Page {{ pagination.pageNumber + 2 }} of {{ pagination.hrefs.length }}</span>
        </a>
    </li>
    {%- endif -%}
    {# Check if we are on the first page #}
    {%- if pagination.previousPageHref -%}
    <li class="o-stack__item">
        <a href="{{ pagination.previousPageHref }}"
           rel="prev"
           class="c-pagination__link">
            <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M216.464 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887L209.393 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L233.434 36.465c-4.686-4.687-12.284-4.687-16.97 0z"/>
            </svg>
            <span>Newer {{ label | lower }}</span>
            <span class="u-visually-hidden">:</span>
            <span class="c-pagination__caption">Page {{ pagination.pageNumber }} of {{ pagination.hrefs.length }}</span>
        </a>
    </li>
    {%- endif -%}
  </ul>
</nav>
{%- endif -%}
{% endmacro %}
