<aside class="[ c-container ]">
    <div class="[ o-box o-box--s0 ] c-background">
        <h2 class="u-overline"><span class="c-background__text">Become a Patreon</span></h2>
        <p class="u-reference"><span class="c-background__text">If you like what
            I do and want to support my work, consider joining my crew on <a
                href="https://www.patreon.com/bePatron?u=10910199"
                rel="excternal">Patreon</a>.</span></p> </div>
</aside>
