<aside class="[ c-container ]">
    <div class="[ o-box o-box--s0 ] c-background">
        <h2 class="u-overline"><span class="c-background__text">Become a Patreon</span></h2>
        <p class="u-reference"><span class="c-background__text">You can support my music by <a
                href="https://www.patreon.com/bePatron?u=10910199"
                rel="excternal">becoming a patron</a>.</span></p>
    </div>
</aside>
