<aside class="[ c-container ] o-prose">
    <h2>Become a Patreon</h2>

    <p>You can support my music by <a
        href="https://www.patreon.com/bePatron?u=10910199" rel="excternal">becoming a patron</a>.</p>
</aside>
