<div class="o-cluster__item [ o-cluster o-cluster--small ]">
    <h2 class="u-visually-hidden">Find me elsewhere</h2>
    <ul class="o-cluster__container">
        <li class="o-cluster__item">
            <a href="https://mastodon.alienlebarge.ch/@alienlebarge" rel="me">
                <span class="u-visually-hidden">Mastodon</span>
                {% include '../assets/vectors/mastodon-brands.svg' %}
            </a>
        </li>
        <li class="o-cluster__item">
            <a href="https://micro.blog/alienlebarge" rel="me">
                <span class="u-visually-hidden">Micro.blog</span>
                {% include '../assets/vectors/microblog-brands.svg' %}
            </a>
        </li>
        <li class="o-cluster__item">
            <a href="https://twitter.com/alienlebarge" rel="me">
                <span class="u-visually-hidden">Twitter</span>
                {% include '../assets/vectors/twitter-brands.svg' %}
            </a>
        </li>
        <li class="o-cluster__item">
            <a href="https://github.com/alienlebarge" rel="me">
                <span class="u-visually-hidden">GitHub</span>
                {% include '../assets/vectors/github-brands.svg' %}
            </a>
        </li>
        <li class="o-cluster__item">
            <a href="https://www.flickr.com/photos/alienlebarge" rel="me">
                <span class="u-visually-hidden">Flickr</span>
                {% include '../assets/vectors/flickr-brands.svg' %}
            </a>
        </li>
        <li class="o-cluster__item">
            <a href="https://www.patreon.com/bePatron?u=10910199" rel="me">
                <span class="u-visually-hidden">Become a Patreon</span>
                {% include '../assets/vectors/patreon-brands.svg' %}
            </a>
        </li>

    </ul>
</div>
