{%- set absoluteUrl -%}{{ app.url }}{{ page.url | url }}{%- endset -%}
{%- set mentions = webmentions.children | webmentions_for_url(absoluteUrl) -%}

{% if mentions | length %}
    <section>
        <h2 class="u-overline">Webmentions</h2>

        {% for webmention in mentions | reverse %}
            {% include 'item/webmention.njk' %}
        {% endfor %}
    </section>
{% endif %}
