{%- set absoluteUrl -%}{{ app.url }}{{ page.url | url }}{%- endset -%}
{%- set mentions = webmentions.children | webmentions_for_url(absoluteUrl) -%}

{% if mentions | length %}
    <section class="c-webmentions-list">
        <header class="c-webmentions-list__header">
            <h2 class="c-webmentions-list__heading">Webmentions</h2>
        </header>

        {% for webmention in mentions | reverse %}
            {% include 'item/webmention.njk' %}
        {% endfor %}
    </section>
{% endif %}
