---
title: Replies
summary: Responses to some other posts
pagination:
  data: collections.reply
  size: 25
  reverse: true
permalink: replies/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}{% else %}index{% endif %}.html
layout: index.njk
type: index
override:tags: []
---
{% import 'list-items.njk' as list %}
{{ list.listItems(pagination.items, "[ o-box o-box--container-big ]") }}

{% import 'pagination.njk' as transverse %}
{{ transverse.paginate(pagination, label='Notes') }}
