---
title: Articles
summary: Short posts, articles and essays
permalink: articles/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}{% else %}index{% endif %}.html
pagination:
    data: collections.article
    size: 10
    reverse: true
layout: index.njk
type: index
override:tags: []
---
{% import 'list-items.njk' as list %}
{{ list.listItems(pagination.items, "o-container o-box") }}

{% import 'pagination.njk' as transverse %}
{{ transverse.paginate(pagination, label='articles') }}
