---
title: Notes
summary: Short unstructured posts, written & posted quickly
pagination:
  data: collections.note
  reverse: true
  size: 24
permalink: notes/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}{% else %}index{% endif %}.html
---
{% import 'list-items.njk' as list %}
{{ list.listItems(pagination.items) }}

{% import 'pagination.njk' as transverse %}
{{ transverse.paginate(pagination, label='Notes') }}
