---
title: Jams
summary: The pieces of music that I constantly listen to and can't get out of my head
pagination:
  data: collections.myjam
  size: 25
  reverse: true
permalink: jams/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}{% else %}index{% endif %}.html
layout: index.njk
type: index
override:tags: []
---

{% import 'list-items.njk' as list %}
{{ list.listJams(pagination.items, "o-stack--space-xl") }}

{% import 'pagination.njk' as transverse %}
{{ transverse.paginate(pagination, label='Notes') }}

<script src="/assets/scripts/spotify-jam.js" type="module"></script>
