---
title: Hi, I’m Cédric
permalink: /index.html
type: homepage
layout: base.njk
---

<div class="o-container o-box o-prose u-lede">
Hi, I’m Cédric a swiss front end engineer based in Lausanne with a love for electronic music and hiking
</div>

<section class="o-container o-box o-prose">
    <h2>Articles</h2>

    {% set latest_articles = collections.article | reverse %}
    <ul>
    {%- for item in latest_articles.slice(0,5) -%}
        <li class="o-with-sidebar">
            <time class="u-reference dt-published"
                  datetime="{{ item.data.date | date }}">{{- item.data.date | date("DD MMM YYYY") -}}</time>
            <a href="{{- item.url | url -}}">{{- item.data.title }}</a>
        </li>
    {%- endfor -%}
    </ul>

    <p><a href="{{- "/articles" | url -}}"">More articles</a></p>
</section>

<section class="o-container o-box o-prose">
    <h2>Notes</h2>

    {%- set latest_notes = collections.note | reverse -%}
    <ul class="o-list-bare o-stack o-stack--space-2xl">
    {%- for item in latest_notes.slice(0,5) -%}
        <li>
            <article class="o-with-sidebar u-link-zone">
                <footer class="u-reference">
                    <a href="{{ item.url | url }}" class="u-link-zone__link"><time class="dt-published"
                          datetime="{{ item.data.date | date }}">{{ item.data.date | date("DD MMM YYYY") }}</time></a>
                </footer>
                <div class="o-prose">{{- item.templateContent | safe -}}</div>
            </article>
        </li>
    {%- endfor -%}
    </ul>

    <p><a href="{{- "/notes" | url -}}"">More notes</a></p>
</section>

<section class="o-stack o-container o-box o-prose">
    <h2>Photos</h2>

    {% set latest_photos = collections.photo | reverse %}
    {%- import 'image.njk' as image -%}

    <ul class="o-reel">
    {%- for item in latest_photos.slice(0,10) -%}
        <li>
            <figure class="o-stack o-stack--space-2xs">
                {{- image.image(item.data.photo[0].url, item.data.photo[0].alt, settings=srcsets.grid, appUrl=app.url, styleModifier="c-scale-hover__item") -}}
                <figcaption class="o-prose">
                    <a href="{{ item.url | url }}">
                        <time class="u-reference dt-published"
                              datetime="{{ item.data.date | date }}">{{ item.data.date | date("DD MMM YYYY") }}</time>
                    </a>
                </figcaption>
        </li>
    {%- endfor -%}
    </ul>
</section>
