---
title: Hi, I’m Cédric
permalink: /index.html
type: homepage
layout: base.njk
---
{% import 'list-items.njk' as list with context %}

<div class="o-container o-box o-prose u-lede">
Hi, I’m Cédric a swiss front end engineer based in Lausanne with a love for electronic music and hiking
</div>

<section class="o-container o-box o-stack">
    <header class="o-prose">
        <h2>Articles</h2>
    </header>
    {%- set latest_articles = collections.article | reverse | limit(10) -%}
    {{ list.simpleListItems(latest_articles, "") }}
    <footer class="o-prose">
        <p><a href="{{- "/articles" | url -}}">More articles</a></p>
    </footer>
</section>

<section class="o-container o-box o-stack">
    <header class="o-prose">
        <h2>Notes</h2>
    </header>
    <div>
        {%- set latest_notes = collections.note | reverse -%}
        {{ list.listItems(latest_notes, "o-stack--space-xl", 5) }}
    </div>
    <footer class="o-prose">
        <p><a href="{{- "/notes" | url -}}"">More notes</a></p>
    </footer>
</section>

<section class="o-container o-box o-stack">
    <header class="o-prose">
        <h2>Photos</h2>
    </header>

    {% set latest_photos = collections.photo | reverse | limit(5) %}
    {{ list.reelItems(latest_photos) }}

    <footer class="o-prose">
        <p><a href="{{- "/photos" | url -}}"">More photos</a></p>
    </footer>
</section>
