{% extends './base.njk' %}
{% block main %}
    <div class="[ o-stack o-stack--step-4 ] [ c-container c-container--big ] c-background">
        {% include 'header.njk' %}
        {% include 'footer.njk' %}
    </div>
    {% include 'content.njk' %}
    {# check if there's the "patreon" tag #}
    {% for categoryItem in category -%}
        {% if categoryItem === "patreon" %}
            {% include 'patreon.njk' %}
        {% endif %}
    {%- endfor %}
{% endblock %}
