<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="{% if hidden == true %}noindex{% else %}index{% endif %}, follow">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:url" content="{{ page.url }}">
        {%- if summary %}<meta name="description" content="{{ summary }}">{%- endif %}

        <link rel="alternate" href="{{ './feed.xml' | url }}" type="application/atom+xml" title="RSS (Atom) Feed">
        <link rel="alternate" href="{{ './feed.json' | url }}" type="application/json" title="JSON Feed">

        <link rel="microsub" href="https://aperture.p3k.io/microsub/245">
        <link rel="micropub" href="https://alb-indiekit.herokuapp.com/micropub">
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

        <link rel="me" href="https://mastodon.alienlebarge.ch/@alienlebarge" />

        <link rel="webmention" href="https://webmention.io/alienlebarge.ch/webmention" />

        <link rel="pgpkey" href="/key.txt">

        <link rel="stylesheet" href="{{ "/assets/styles/style.css" | url }}">

        <!-- Generic icon -->
        <link rel="icon" href="https://res.cloudinary.com/alienlebarge/image/fetch/w_32/{{ app.url }}{{ app.icon | url }}" sizes="32x32">
        <link rel="icon" href="https://res.cloudinary.com/alienlebarge/image/fetch/w_57/{{ app.url }}{{ app.icon | url }}" sizes="57x57">
        <link rel="icon" href="https://res.cloudinary.com/alienlebarge/image/fetch/w_76/{{ app.url }}{{ app.icon | url }}" sizes="76x76">
        <link rel="icon" href="https://res.cloudinary.com/alienlebarge/image/fetch/w_96/{{ app.url }}{{ app.icon | url }}" sizes="96x96">
        <link rel="icon" href="https://res.cloudinary.com/alienlebarge/image/fetch/w_128/{{ app.url }}{{ app.icon | url }}" sizes="128x128">
        <link rel="icon" href="https://res.cloudinary.com/alienlebarge/image/fetch/w_192/{{ app.url }}{{ app.icon | url }}" sizes="192x192">
        <link rel="icon" href="https://res.cloudinary.com/alienlebarge/image/fetch/w_228/{{ app.url }}{{ app.icon | url }}" sizes="228x228">
        <!-- iOS icon -->
        <link rel="apple-touch-icon" href="https://res.cloudinary.com/alienlebarge/image/fetch/w_120/{{ app.url }}{{ app.icon | url }}" sizes="120x120">
        <link rel="apple-touch-icon" href="https://res.cloudinary.com/alienlebarge/image/fetch/w_152/{{ app.url }}{{ app.icon | url }}" sizes="152x152">
        <link rel="apple-touch-icon" href="https://res.cloudinary.com/alienlebarge/image/fetch/w_180/{{ app.url }}{{ app.icon | url }}" sizes="180x180">

        <title>
            {% if type != "homepage" and title -%}
                {{ title | striptags(true) | safe }} -
            {% endif -%}{{- app.title | safe -}}
        </title>
    </head>
    <body class="c-page">
        {% include 'banner.njk' %}
        <main class="[ o-stack o-stack--s4 ]{% if vocab %} |{% for root in vocab %} h-{{ root }}{% endfor %}{% endif %}"
              {% if type %}data-type="{{ type }}"{% endif %}>
            {% block main %}
                {{ layoutContent | safe }}
            {% endblock %}
        </main>
        {% include 'contentinfo.njk' %}
        <script src="{{ "/assets/scripts/o-grid.js" | url }}"></script>
    </body>
</html>
