{% extends './base.njk' %}
{% block main %}
    <div class="[ o-box o-box--s1 ] [ c-container c-container--big ] c-background">
        {% include 'header.njk' %}
        {% include 'footer.njk' %}
    </div>
    {% include 'content.njk' %}
{% endblock %}
