{% extends './base.njk' %}
{% block main %}
    <div class="[ o-stack o-stack--step-4 ] [ o-box o-box--container-big ] c-background">
        {% include 'header.njk' %}
    </div>
    {{ layoutContent | safe }}
{% endblock %}

