{% extends 'layouts/base.njk' %}
{% block main %}
    <div class="c-background">
        {% include 'header.njk' %}
        {% include 'footer.njk' %}
    </div>
    {% include 'content.njk' %}
{% endblock %}
