<!doctype>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="{% if hidden == true %}noindex{% else %}index{% endif %}, follow">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:url" content="{{ page.url }}">
        {%- if summary %}<meta name="description" content="{{ summary }}">{%- endif %}

        <link rel="me" href="https://mastodon.alienlebarge.ch/@alienlebarged">
        <link rel="me" href="https://twitter.com/alienlebarge">
        <link rel="me" href="https://github.com/alienlebarge">

        <link rel="stylesheet" href="{{ "/assets/styles/style.css" | url }}">

        <title>{{ title }}</title>
    </head>
    <body class="c-page">
        {% include 'banner.njk' %}
        <main class="c-main c-page__main">
            <div class="o-container">
                {% block main %}
                    {{ layoutContent | safe }}
                {% endblock %}
            </div>
        </main>
        {% include 'footer.njk' %}
    </body>
</html>
