<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="{% if hidden == true %}noindex{% else %}index{% endif %}, follow">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:url" content="{{ page.url }}">
        {%- if summary %}<meta name="description" content="{{ summary }}">{%- endif %}

        <link rel="microsub" href="https://aperture.p3k.io/microsub/245">
        <link rel="micropub" href="https://sitewriter.net/alienlebarge.ch/micropub">
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

        <link rel="webmention" href="https://webmention.io/alienlebarge.ch/webmention" />

        <link rel="pgpkey" href="/key.txt">

        <link rel="stylesheet" href="{{ "/assets/styles/style.css" | url }}">

        <title>{% if type != "homepage" and title %}{{ title }} - {% endif %}{{ app.title }}</title>
    </head>
    <body class="c-page">
        {% include 'banner.njk' %}
        <main class="c-main c-page__main{% if vocab %} |{% for root in vocab %} h-{{ root }}{% endfor %}{% endif %}"
              {% if type %}data-type="{{ type }}"{% endif %}>
            <div class="o-container c-main__container">
                {% block main %}
                    {{ layoutContent | safe }}
                {% endblock %}
            </div>
        </main>
        {% include 'contentinfo.njk' %}
    </body>
</html>
