<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="{% if hidden == true %}noindex{% else %}index{% endif %}, follow">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:url" content="{{ page.url }}">
        {%- if summary %}<meta name="description" content="{{ summary }}">{%- endif %}

        <link rel="alternate" href="{{ './feed.xml' | url }}" type="application/atom+xml" title="RSS (Atom) Feed">
        <link rel="alternate" href="{{ './feed.json' | url }}" type="application/json" title="JSON Feed">

        <link rel="microsub" href="https://aperture.p3k.io/microsub/245">
        <link rel="micropub" href="https://alb-indiekit.herokuapp.com/micropub">
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

        <link rel="me" href="https://mastodon.alienlebarge.ch/@alienlebarge" />

        <link rel="webmention" href="https://webmention.io/alienlebarge.ch/webmention" />

        <link rel="pgpkey" href="/key.txt">

        <link rel="stylesheet" href="{{ "/assets/styles/style.css" | url }}">

        <title>{% if type != "homepage" and title %}{{ title }} - {% endif %}{{ app.title }}</title>
    </head>
    <body class="c-page">
        {% include 'banner.njk' %}
        <main class="o-container [ o-box o-box--s1 ] [ o-stack o-stack--s4 ] [ c-main c-page__main ]{% if vocab %} |{% for root in vocab %} h-{{ root }}{% endfor %}{% endif %}"
              {% if type %}data-type="{{ type }}"{% endif %}>
            {% block main %}
                {{ layoutContent | safe }}
            {% endblock %}
        </main>
        {% include 'contentinfo.njk' %}
    </body>
</html>
