{% extends 'layouts/base.njk' %}
{% block main %}
    <div class="[ o-box o-box--s1 ] [ o-stack o-stack--s4 ] c-background">
        {% include 'header.njk' %}
    </div>
    {{ layoutContent | safe }}
{% endblock %}

