{% set title %}Note: {{ item.date | date(dates.datetime_full) }}{% endset %}

{%- set webmentionUrl -%}{{ app.url }}{{ page.url | url }}{%- endset -%}
{% extends 'layouts/base.njk' %}
{% block main %}
    {% include 'header.njk' %}
    <div class="[ o-box o-box--s1 ] [ o-stack o-stack--s4 ] c-background">
        {% include 'footer.njk' %}
    </div>
    {% include 'content.njk' %}
    {% include 'webmentions-list.njk' %}
{% endblock %}
