{% set title %}Photo: {{ item.date | date(dates.datetime_full) }}{% endset %}
{% extends 'layouts/base.njk' %}
{% block main %}
    {% include 'footer.njk' %}
    {% include 'header.njk' %}
    {% include 'content.njk' %}

    <div class="[ o-box o-box--s1 ] o-stack">
        {%- for item in photo -%}
        <figure>

            {# Set vars for the image #}
            {%- set src = item.url -%}
            {%- set alt = item.alt -%}
            {% include 'image.njk' %}

            {%- if item.caption -%}
            <figcaption>{{ item.caption }}</figcaption>
            {%- endif -%}

        </figure>
        {%- endfor -%}
    </div>
{% endblock %}
