---
layout: index
pagination:
  data: collections.category
  size: 1
  alias: title
permalink: "categories/{{ title | slugify }}/"
hidden: true
---
{% set items = collections.all | includes('data.category', title) | reverse %}
<ul class="[ o-box o-box--container-big ] o-stack">
{%- for item in items -%}
    <li><a href="{{ item.url | url }}">
        {%- if item.data.title -%}
        {{- item.data.title -}}
        {%- else -%}
        {{ item.content | striptags(true) | truncate(124) }}
        {%- endif -%}
    </a></li>
{%- endfor -%}
</ul>
