<article class="c-item c-item--inline | h-entry" data-type="articles">
    {%- if item.data.title -%}
    <header class="c-item__header">
        <h3><a href="{{ item.url | url }}">{{ item.data.title }}</a></h3>
    </header>
    {%- endif -%}

    {%- if item.data.summary or item.data.description -%}
    <div class="c-item__main o-prose | e-content p-summary">
        <p>
        {%- if item.data.summary -%}
        {{ item.data.summary }}
        {%- elif item.data.description -%}
        {{ item.data.description }}
        {%- endif -%}
        </p>
    </div>
    {%- endif -%}

    {%- if item.data.date -%}
    <footer class="c-item__footer">
        <p><time datetime="{{ item.data.date | date }}">{{ item.data.date | date("DD MMM YYYY") }}</time></p>
    </footer>
    {%- endif -%}
</article>
