<article class="c-item | h-entry" data-type="bookmark">
        {%- if item.data.title -%}
        <header class="c-item__header | p-name">
            <h3><a href="{{ item.url | url }}">{{ item.data.title | safe }}</a></h3>
        </header>
        {%- endif -%}

        {%- if item.templateContent -%}
        <div class="o-prose c-item__main | e-content p-summary">
            {{ item.templateContent | safe }}
        </div>
        {%- endif -%}

        <footer class="c-item__footer">
            <dl class="o-stack o-stack--step--4">
                <dt class="u-visually-hidden">Published on</dt>
                <dd>
                <a class="u-url" rel="bookmark" href="{{ item.url | url }}">
                    {# TODO: use src/_data/dates.json to format the date. #}
                    <time class="dt-published c-item__date"
                          datetime="{{ item.date | date }}">
                        <span>{{ item.date | date("D MMM YYYY") }}</span>
                    </time>
                </a>
                </dd>
                {% if item.data.bookmarkOf %}
                    <dt class="u-visually-hidden">Bookmark</dt>
                    <dd>
                    <a class="u-bookmark-of" rel="external" href="{{ item.data.bookmarkOf }}">
                        {{- item.data.bookmarkOf | hostname -}}
                    </a>
                    </dd>
                {% endif %}
            </dl>
        </footer>
</article>
