<article class="o-switcher c-item | h-entry" data-type="bookmark">
        {%- if item.data.title -%}
        <div class="[ o-switcher__item o-switcher__item--big ] o-prose">
            <header class="[ o-stack o-stack--step-0 ] c-item__header">
                <h3><a href="{{ item.url | url }}">{{ item.data.title | safe }}</a></h3>
            </header>
            <div class="e-content p-name">
                {{ item.templateContent | safe }}
            </div>
        </div>
        {%- endif -%}
        <footer class="o-switcher__item c-item__footer">
            <dl>
                <dt class="u-visually-hidden">Published on</dt>
                <dd>
                <a class="u-url" rel="bookmark" href="{{ item.url | url }}">
                    {# TODO: use src/_data/dates.json to format the date. #}
                    <time class="dt-published c-item__date"
                          datetime="{{ item.date | date }}">
                        <span>{{ item.date | date("D MMM YYYY") }}</span>
                    </time>
                </a>
                </dd>
                {% if item.data.bookmarkOf %}
                    <dt class="u-visually-hidden">Bookmark</dt>
                    <dd>
                    <a class="u-bookmark-of" rel="external" href="{{ item.data.bookmarkOf }}">
                        {{- item.data.bookmarkOf | hostname -}}
                    </a>
                    </dd>
                {% endif %}
            </dl>
        </footer>
</article>
