<article class="o-prose c-item | h-entry" data-type="note">
    <div class="o-prose c-item__main | e-content p-name">
        {{ item.templateContent | safe }}
    </div>
    <footer class="o-prose c-item__footer">
        <dl>
            <dt class="u-visually-hidden">Published on</dt>
            <dd>
            <a class="u-url" rel="bookmark" href="{{ item.url | url }}">
                {# TODO: use src/_data/dates.json to format the date. #}
                <time class="o-cluster o-cluster--step--2  | dt-published"
                      datetime="{{ item.date | date }}">
                    <span>{{ item.date | date("D MMM YYYY") }}</span>
                    <span>{{ item.date | date("HH:mm") }}</span>
                </time>
            </a>
            </dd>
        </dl>
    </footer>
</article>
