{%- import 'image.njk' as image -%}

<article class="c-item-photo">
    <a href="{{ item.url | url }}" class="c-scale-hover">
        <figure class="c-item-photo__figure c-scale-hover__container">
        {{ image.image(item.data.photo[0].url, item.data.photo[0].alt, settings=srcsets.grid, appUrl=app.url, styleModifier="c-scale-hover__item") }}

        {# Check if there is more image #}
        {% if item.data.photo | length > 1 %}
            <figcaption class="c-item-photo__figcaption">
            {#- deal with the plural: one versus more photos -#}
            {%- if item.data.photo | length == 2 -%}
                {{- item.data.photo | length -1 -}}
                <span class="u-visually-hidden"> more image to see</span>
            {%- else -%}
                {{- item.data.photo | length -1 -}}
                <span class="u-visually-hidden"> more images to see</span>
            {%- endif -%}
            </figcaption>
        {% endif %}
        </figure>
    </a>
</article>
