---
title: Categories
summary: Categorized or labeled content
permalink: categories/
layout: index.njk
type: category
override:tags: []
---

{% set categories = collections.category %}
{% import 'list-items.njk' as list with context %}
{{ list.inlineItems(categories) }}
