---
title: Photos
summary: View the world through my lense
permalink: photos/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}{% else %}index{% endif %}.html
pagination:
    data: collections.photo
    size: 30
    reverse: true
layout: index.njk
type: index
override:tags: []
---
{% import 'list-items.njk' as list with context %}
{{ list.gridItems(pagination.items) }}

{% import 'pagination.njk' as transverse %}
{{ transverse.paginate(pagination, label='photos') }}
