---
permalink: /feed.json
---
{%- import 'image.njk' as image -%}
{
    "version": "https://jsonfeed.org/version/1",
    "title": "{{ app.title }}",
    "decription": "{{ app.description }}",
    "home_page_url": "{{ app.url }}",
    "feed_url": "{{ app.url }}{{ page.url }}",
    "favicon": "{{ app.url }}{{ app.favicon }}",
    "icon": "{{ app.url }}{{ app.icon }}",
    "author": {
        "name": "{{ app.author.name }}",
        "url": "{{ app.author.url }}",
        "avatar": "{{ app.author.avatar }}"
    },
    "items": [
    {%- for item in collections.post | reverse -%}
        {%- if loop.length - loop.revindex < app.feed_limit -%}
        {
            "id": "{{ app.url }}{{ item.url }}",
            "url": "{{ app.url }}{{ item.url }}",
            {% if item.data.title -%}
                "title": "{{ item.data.title | safe }}",
            {%- endif %}
            {% if item.data.tags -%}
                "tags": [
                {%- for tag in item.data.tags -%}
                    "{{ tag }}"
                    {%- if not loop.last -%}
                        ,
                    {%- endif -%}
                {%- endfor -%}
                ],
            {%- endif %}
            {% if item.data.summary -%}
                "summary": "{{ item.data.summary }}",
            {%- endif %}
            "content_html":
            {%- set content_html -%}
            {%- if item.data.type == "like" -%}
                <p>like <a href="{{ item.data.bookmarkOf }}" class="u-like-of">{{ item.data.bookmarkOf }}</a></p>
            {%- else -%}
                {#- Default content -#}
                {{- item.templateContent | strip_mentions | safe -}}
                {#- Photo defined in the front matter -#}
                {% if item.data.photo -%}
                    {%- for item in item.data.photo -%}
                        {{ image.image(item.url, item.alt, settings=srcsets.default, appUrl=app.url) }}
                    {%- endfor -%}
                {%- endif -%}
            {%- endif -%}
            {%- endset -%}
            {{ content_html | dump | safe }},
            {% if item.data.url -%}
                "external_url": "{{ item.data.url }}",
            {%- endif %}
                "date_published": "{{ item.date | date(dates.iso) }}"
        }
        {%- if loop.length - loop.revindex0 < app.feed_limit -%},{%- endif %}
        {%- endif -%}
    {%- endfor -%}
    ]
}
