---
permalink: /feed.json
---
{
    "version": "https://jsonfeed.org/version/1",
    "title": "{{ app.title }}",
    "decription": "{{ app.description }}",
    "home_page_url": "{{ app.url }}",
    "feed_url": "{{ app.url }}{{ page.url }}",
    "favicon": "{{ app.url }}{{ app.favicon }}",
    "icon": "{{ app.url }}{{ app.icon }}",
    "author": {
        "name": "{{ app.author.name }}",
        "url": "{{ app.author.url }}",
        "avatar": "{{ app.author.avatar }}"
    },
    "items": [
    {%- for item in collections.post | reverse -%}
        {%- if loop.length - loop.revindex < app.feed_limit -%}
        {
            {% if item.data.title %}
                "title": "{{ item.data.title }}",
            {% endif %}
            {% if item.data.summary -%}
                "summary": "{{ item.data.summary }}",
            {%- endif %}
            "content_html": {{- item.templateContent | dump | strip_mentions | safe -}},
            "content_text": "{{- item.templateContent | striptags(false) -}}",
            "url": "{{ app.url }}{{ item.url }}",
            {% if item.data.url -%}
                "external_url": "{{ item.data.url }}",
            {%- endif %}
            "date_published": "{{ item.date | date(dates.iso) }}"
        }
        {%- if loop.length - loop.revindex0 < app.feed_limit -%},{%- endif %}
        {%- endif -%}
    {%- endfor -%}
    ]
}
