---
permalink: /feed.json
---
{
    "version": "https://jsonfeed.org/version/1",
    "title": "{{ app.title }}",
    "decription": "{{ app.description }}",
    "home_page_url": "{{ app.url }}",
    "feed_url": "{{ app.url }}{{ page.url }}",
    "favicon": "{{ app.url }}{{ app.favicon }}",
    "icon": "{{ app.url }}{{ app.icon }}",
    "author": {
        "name": "{{ app.author.name }}",
        "url": "{{ app.author.url }}",
        "avatar": "{{ app.author.avatar }}"
    },
    "items": [
        {%- for item in collections.post | reverse -%}
        {
            "id": "{{ app.url }}{{ item.url }}",
            "content_html": {{- item.templateContent | dump | safe -}},
            "url": "{{ app.url }}{{ item.url }}",
            "date_published": "{{ item.data.date | date(dates.iso) }}"
        }
        {%- if not loop.last -%},{%- endif -%}
        {%- endfor -%}
    ]
}
