---
permalink: /key.txt
---

-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBFxUTv4BEADGDtBQeJSWOHJfwyJF13YhMKf+EEhgVC9iRDx2x3N96XS/PsGk
ZhcSfQNZSEvyFqIWL144qJ4OuHaGB1o/bLutMLzQyrXMtcnVMBEOL3vs8n3dBbC9
Nh+e9whmj9eLjEPV7Z1Yrw+rpoTxP58lcdq/SWNBv0NBrxOK3WaFkDWsLgZ2rPFz
6Gqg2estQuFxj2N1bn0wyOiEi9GDK/vSgYmMcNpMCZHzwi0eGYBS1ah2R4cbbCJ/
8U77Y6Lp+tFP5FsPItJHIMQPe9wUVcFTOW/JubyxAZr4qVQ8pSaW8TBbk+GXgzFb
+785fF+aWA/ci/Skzu8QSrOxKN9PE7wLEB5HD4q7vw8b+5WOiWGzb8fu6mu228M3
9hw/a0e+3yYcC69tOnBi1oS7wNdX2lskizT6GzudZldpqihPSEMtPP82LSXGhAWJ
EyGDErK27WJ1g3q/WbLAcDjt7LLG6SnHdkJq6V7GLC02ffQPni6k56mpPY7pXTo8
l8E3VnZZ5rZZqtQupmx5j5byDJNzpC1mTD72uNo3dwSOg+53ueY5uQQJsH9tq2ws
ImniNUnqrxU+JrI2PTjpTT62yJh7TkB9/MuJ1T/52NtnBS2ulxrUDqVegT4tn+Tp
BlQ16AZlzxsv2fQoCoUIWYaPCVkG6Zv0CuDI7vYQMwF8u4QgOPQ/NYK5nwARAQAB
tC5Dw6lkcmljIEFlbGxlbiA8Y2VkcmljLmFlbGxlbkBhbGluZWxlYmFyZ2UuY2g+
iQJUBBMBCAA+FiEEccyiscgM8gDSE83x9AFx6gIJFegFAlxUTv4CGwMFCQeGH4AF
CwkIBwIGFQoJCAsCBBYCAwECHgECF4AACgkQ9AFx6gIJFeg/lg/7BlwGH5aba/g4
HdL+T/ZzBjCUwgCP3d/E1CR8SX/8UGFK2EKOT9UEmA+G1CPP2Bla7FQuFX/rRf+Q
ZA9ErY/7kxL3bm+/S6OtGGRVAr2+TP9IgP7uT6QTiX3nMbIRpjkhyyKUVnc0Jx14
WrGBmil2/LeBY8e3/ZRwT4fWIaPzjUcM3spF2oqWYaTC7QTYnB+AnRjPuIevMpb3
Q2sdpbY0MfY6eh8m+dk6AKla779/1VIKoVJxorCzAWstpz21bJktpxPlWUCO5N1k
hJmXG5sA9BuUa30AcmyOvIo93gZIM5apbNwQ3abtbP9i0b9V0icGBCYRfsPQZ9vX
lABhRgXsO5SU9y3N2C6s0mmvyZv1OVYXahnKt2KplI6VbJdhDlf1NKtf8V3cf7dw
t4nnYaTn07Eulb6f1HksH09ANRnzwROkX8dLuZO7VJ1Mw65X2MQg2jZHRGVqTVzi
S8xi6150wuzreN8dWgHtp4dmkeqthZA1eIsC3dC1lmaKmgW5v6Pr3Zvkwd87V0sY
w9OC4ED12w9BQGWY7lg8q/ulr5UDP6/0e554oUz2TqRPDeJY+R5z+PJdBiDsFRbx
BhaQAcwQw6k8C1g4ZgXT6PVGxWxsSnIH8TRWKoRttUT1lqXLrsaXaK2R1CQZ8Xx3
wCB4NvD0kk+3HObiPmkCo0Gbx8/GUUi5Ag0EXFRO/gEQAMk6U0/gN6pwGcmPzUZu
xk1BErLCPNE188Ld8LiD5TXi/Gioe+5Qp5kaqPCKVxRzomBYVw2HyaSrDVUYfIVM
4gRQCQXkJcYOOTi65ACU6oBWLjfU/4OZuDemQ/tJcWF/yR5g5SXczHFwaYIJv4ol
+FtOC4vIW6t+r0HhhdBYjceCU5Q2iB9J2abOqq1fbI4qnAiqhGLmubDwaEx0+nf3
4guGf+4vZdibW6ciWPB68G9nU+68s+zFme6LcJ5xO0hR4tmEBr3XftNo5H0J0nC0
ENjgStv1t4YjZTWCCEWayK15gGFYDlbVU8KrYlrPkoozqTJFqakcXYUM0s/SxoPg
qo5e3PRkXk6ldzSFzmXD4rkuwTLv/FaxWsuBgZOTyGtu861TESuIepSwucDjS5qL
YkRsJjCIlQqRd2jRKokYTJArDibVEP2CO6AuGBxHTHK/tNDo0g5l7rEMEePRNCxp
sjAmm5NzQS+r89jBQy2mib8543RSCJIEiT00K4jVyT3NpcLj21TuqwSw4ESiPjym
gviRGJeIZ6noqPyrNyCcvo/DH36xB2C2brrLP2ABxvB3rgluY6bBFd/bW9s5T2qs
16oZVayCYbQkoT9eoUeNtQlK8Zm5AQ2z9UksTYnBHuTvO7T9oiwF1+vLqvyM5zI3
HdkcDf+LxATMc4/t7W8RJ01ZABEBAAGJAjwEGAEIACYWIQRxzKKxyAzyANITzfH0
AXHqAgkV6AUCXFRO/gIbDAUJB4YfgAAKCRD0AXHqAgkV6ErOD/9w1lshPIaBZ/OK
33eMbFMaXPuoNb1j0fZafZqjf5ypPR3531dRWvvUSVpwxpd/UvGA2FOXeJS9UTJR
qOta4JZM/icm0ceDTXMlAZ5FNWcRD6EvFNcC+4M9gGvub/mqYmD8qurRm/5FiVOP
uAhs2jrSs6QKRBmQWXfayNIDqYyUs1iH37FPmhuhvGa14bdl5SIYegE0n6npL3pS
2ZkAJUn9H3pnQclWz9MCdSe1pccKfu1NaeKg0ZD9GuxKgtXy/j4/4wN2nmcM6/9l
0860YFCMw1VP7O8cRwaFX39/6JyF3FCa+VoPgZ+ZL8oqlfjxEU5m1RRPVB/1ifrT
7h0BojPIXGez5fxrgJvM/QOda13nQCMGIAHGVgmFRBGdI6SBWryqRIxF2y5La9zE
3unJvCLsYJlEJgy5TwYv18BL13rjtRkOyktQWkHES1vDohxph4APHyA3y/B3XDMl
9BN6DSh4omeOJpNHRYuGMPZbHy+yfWrWLd4ZeSghRHS6ulo0EAuTK6mOodmM2Bo2
4SnGpoaz1MiIAMj/Oufaes0OeJIMZe7uPjK9wLdBuG+WXRhgea65S2d0OtFglbja
J3IcUQMIAB2P7zWXQSgWzGwNmYKD81makuqdedPCWVOI7amY1UbUNqU5AIPZsu0D
2hJqz/7DymfNYrmvu3kdHN5+ba2iMw==
=0vj6
-----END PGP PUBLIC KEY BLOCK-----
