/* ==========================================================================
   #ITEM-PHOTO
   ========================================================================== */

.c-item-photo__figure {
    position: relative;
}

.c-item-photo__figcaption {
    position: absolute;
    right: var(--step--2);
    bottom: var(--step--2);

    color: var(--color-dark);

    background-color: var(--color-light);
    padding: var(--step--5) var(--step--3);

    @extend %reference;
}

.c-item-photo__figcaption::before {
    content: "+";
}
