/* ==========================================================================
   #ZOOM-HOVER
   ========================================================================== */

.c-scale-hover {
    --scale: 1.1;
}

.c-scale-hover .c-scale-hover__item,
.c-scale-hover .c-scale-hover__container {
    transition: transform var(--transition-short);
}

.c-scale-hover .c-scale-hover__container {
    overflow: hidden;
}

.c-scale-hover:hover .c-scale-hover__item {
    transform: scale(var(--scale));
}

.c-scale-hover .c-scale-hover__container::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 0;

    background: transparent;
    content: "";
    margin-inline: var(--step-0);
    transition: all var(--transition-short);
}

.c-scale-hover:hover .c-scale-hover__container::after,
.c-scale-hover:active .c-scale-hover__container::after {
    height: calc( 2 * var(--border-width-thickest) );

    background: linear-gradient(
            0deg,
            var(--color-light) 0%,
            var(--color-light) 50%,
            var(--color-dark) 50%
        );
}
