/* ==========================================================================
   #CONTAINER
   ========================================================================== */

.c-container {
    display: block;
    padding-block: var(--s1);
    padding-inline: 5vw;
}

.c-container--big {
    padding-block: var(--s4);
}
