/* ==========================================================================
   #ITEM
   ========================================================================== */

.c-item {
    @extend %reference;
    display: grid;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr min-content;
    grid-template-areas: "header image"
                         "main image"
                         "footer footer";

    grid-column-gap: var(--space-inline);
    align-items: baseline;
    flex-wrap: wrap;

    margin-inline: calc(-1 * var(--space-inline));
    padding-block-start: var(--space-block-xsmall);
}

@media (--from-small-viewport) {
    .c-item {
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "footer header image"
                            "footer main image";
    }
}

/**
 * Add line only if there's something after
 */
* + .c-item {
    border-top-color: var(--color-alpha-highest);
    border-top-style: solid;
    border-top-width: var(--border-width-thin);
    margin-block-end: var(--space-block-large);
}

.c-item__main {
    margin-inline: var(--space-inline);

    grid-area: main;
}

.c-item__footer {
    --anchor-decoration: none;

    @extend %caption;

    grid-area: footer;

    margin-inline: var(--space-inline);
}


@media (--from-small-viewport) {

    .c-item__date {
        display: flex;
        flex-direction: column;
    }
}

