/* ==========================================================================
   #ITEM-PHOTO
   ========================================================================== */

.c-item-photo__figure {
    position: relative;
}

.c-item-photo__figcaption {
    position: absolute;
    right: var(--space-s);
    bottom: var(--space-s);

    font-size: var(--font-size-reference);
    font-variant: oldstyle-nums;
    line-height: var(--line-height-reference);

    color: var(--color-gray-shade-6);
    letter-spacing: var(--letter-spacing-body);

    background-color: var(--color-gray-shade-1);
    padding: var(--text-box);
    font-variation-settings: "opsz" 14;
    hanging-punctuation: first;
    hyphens: auto;
    word-spacing: var(--word-spacing);

    --flow-space: calc(var(--line-height-reference) / 2);
    --line-height-reference: var(--line-height-tight);
}

.c-item-photo__figcaption::before {
    content: "+";
}
