/* ==========================================================================
   #FORMS
   ========================================================================== */

.c-form > *,
.c-form__field > * {
    margin-block-end: 0;
    margin-block-start: 0;
}

.c-form > * + * {
    margin-block-start: var(--step-2);
}

.c-form__field > * + * {
    margin-block-start: var(--step--4);
}

.c-form__label {
    display: block;
}

.c-form__input {
    background-color: var(--box__background-color, var(--color-gray-shade-6));
    border: var(--border-width-thick) solid var(--color-gray-shade-6);
    color: var(--box__color, var(--color-gray-shade-1));
    font-family: var(--font-family-monospace);
    font-style: italic;
    line-height: var(--line-height-body);
    padding-block: var(--box__padding-block, var(--step-0));
    padding-inline: var(--box__padding-inline, var(--step-0));
    width: 100%;
}

textarea.c-form__input {
    height: 12em;
}

/**
 * Button
 *
 * 1. When button is clicked, the border of it is always visible
 */
.c-form__button {
    background-color: var(--box__background-color, var(--color-gray-shade-6));
    border: var(--border-width-thick) solid var(--color-gray-shade-6); /* [1] */
    color: var(--box__color, var(--color-gray-shade-1));
    cursor: pointer;
    font-variation-settings: "wght" 600;
    font-weight: 600;
    padding-block: var(--box__padding-block, var(--step-0));
    padding-inline: var(--box__padding-inline, var(--step-0));
    width: fit-content;

    --box__color: var(--color-gray-shade-6);
    --box__background-color: var(--color-gray-shade-1);
    --box__color: var(--color-gray-shade-6);
    --box__background-color: var(--color-gray-shade-1);
}

.c-form__button:active {
    transform: scale(.95);
}
