/* ==========================================================================
   #BANNER
   ========================================================================== */

.c-banner {
    color: var(--color-neutral-dark);

    background-color: var(--color-neutral-lightest);
    padding-block: 4vw;
}
