/* ==========================================================================
   #PALETTE
   ========================================================================== */

.c-palette {
    display: block;
}

.c-palette::before {
    display: block;
    width: var(--s4);
    height: var(--s4);

    background: currentcolor;
    border-radius: var(--border-radius-small);
    box-shadow: 0 2px 0 hsla(0, 0%, 100%, .15),
                inset 0 2px 2px hsla(0, 0%, 0%, .1);
    content: "";
}
