/* ==========================================================================
   #LOGO
   ========================================================================== */

.c-logo {
    --anchor-decoration: transparent;
}

.c-logo:hover {
    --anchor-decoration: var(--color-primary-shade-4) underline;
}

.c-logo__img {
    max-block-size: var(--space-l);
    border-radius: var(--border-radius-circle);
}
