/* ==========================================================================
   #BACKGROUNDS
   ========================================================================== */

/**
 * 1. Make padding consistent even with multiple lines
 */
.c-background {
    background-image: var(--bg-dots);
}

.c-background__text {
    line-height: var(--line-height-loose);

    background-color: var(--color-light);
    padding: var(--inset-squished);
    box-decoration-break: clone;
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-box-decoration-break: clone; /* [1] */
    /* stylelint-enable */
}

