/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

/**
 * 1. setting for the first level flexbox
 * 2. Settings for the second level of flexbox.
 * 3. Realign the text with text in main
 * 4. Make the padding take effect
 */

.c-navigation {
    display: flex; /* [1] */
    flex-wrap: wrap; /* [1] */
    flex-direction: column;
    margin-left: calc(var(--inset) * -1); /* [3] */
    margin-right: calc(var(--inset) * -1); /* [3] */
}

@media (--from-small-viewport) {
    .c-navigation {
        flex-direction: row;
    }
}

.c-navigation__title {
    flex:0; /* [1] */
    font-weight: bold; /* [2] */
    color: var(--color-text);
    margin-block-end: var(--space-block-xsmall);
}

.c-navigation__pages {
    display: flex; /* [2] */
    flex-wrap: wrap; /* [2] */
    justify-content: space-between; /* [2] */
    flex: 1; /* [1] */
}

.c-navigation__list {
    margin-block-end: var(--space-block-xsmall);
}

.c-navigation__link {
    display: inline-flex; /* [4] */
    padding: var(--inset-squished); /* [3] */
}
