/* ==========================================================================
   #ITEM
   ========================================================================== */

.c-item {
}

.c-item__header {
    @extend %subhead;

    --anchor-decoration: underline var(--color-link-underline);
}

.c-item__footer {
    @extend %caption;
}

.c-item__footer .u-bookmark-of {
    --anchor-decoration: underline var(--color-link-underline);
}

.c-item__footer a {
    word-break: break-word;
}

