/* ==========================================================================
   #PAGINATION
   ========================================================================== */

.c-pagination__link {
    display: flex;
    flex-direction: column;
    padding-block-start: var(--space-block-xsmall);

    text-decoration: none;
}

.c-pagination__link :not(.pagination__arrow) {
    text-decoration: underline;
}

.c-pagination__link:hover :not(.pagination__arrow) {
    text-decoration: none;
}

.c-pagination__caption {
    @extend %reference;
}
