/* ==========================================================================
   #CONTENTINFO
   ========================================================================== */

.c-contentinfo {
    font-size: var(--font-size-reference);
    color: var(--color-neutral-dark);

    background-color: var(--color-neutral-lighter);
    padding-block: var(--space-block-small);
}

.c-contentinfo svg {
    width: var(--font-size-body);
    height: var(--font-size-body);
}
