/* ==========================================================================
   #CHECKBOX
   ========================================================================== */

.c-checkbox {
    position: relative;

    display: flex;
    margin-block-end: var(--step--4);
}

.c-checkbox:focus-within {
    @extend %focus;
}

/**
 * Hide default checkbox
 */
.c-checkbox__input {
    width: 1em;
    height: var(--line-height-tight);
    opacity: 0;
}

/**
 * Draw a box to be used as the checkbox
 */
.c-checkbox__input + .c-checkbox__label::before {
    position: absolute;
    top: .15em;
    left: 0;

    width: calc(1em * var(--line-height-tight));
    height: calc(1em * var(--line-height-tight));

    border: var(--border-width-thick) solid currentColor;
    content: "";
}

/**
 * Place a check mark in the box if the input is checked
 */
.c-checkbox__input:checked + .c-checkbox__label::after {
    position: absolute;
    top: .55em;
    left: .22em;

    width: .8em;
    height: .3em;

    border: solid;
    border-width: 0 0 var(--border-width-thick) var(--border-width-thick);
    content: "";
    transform: rotate(-45deg);
}

/**
 * Style label
 *
 * 1. Add some margin between the label and the input
 */
.c-checkbox__label {
    cursor: pointer;
    margin-inline-start: var(--step-0) /* [1] */;
}

.c-checkbox__input:disabled + .c-checkbox__label {
    text-decoration: line-through;
}
