/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Structure the page.
 *
 * It helps the footer to be stick at the bottom of the page event if there not
 * enough content.
 */
.c-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.c-page__main {
    flex: 1;
}

.c-page__contentinfo {
    margin-block-start: auto;
}
