/* ==========================================================================
   #PAGINATION
   ========================================================================== */

.c-pagination {
    border-top-color: var(--color-alpha-highest);
    border-top-style: solid;
    border-top-width: var(--border-width-thin);
}

.c-pagination__link {
    display: flex;
    flex-direction: column;
    padding-block-start: var(--space-block-xsmall);
}

.c-pagination__caption {
    @extend %reference;
}

.c-pagination svg {
    max-width: var(--font-size-body);
    max-height: var(--font-size-body);

    margin-bottom: calc(var(--line-height-tight) - 1em);
}
