/* ==========================================================================
   #FORMS
   ========================================================================== */

.c-form > *,
.c-form__field > * {
    margin-block-end: 0;
    margin-block-start: 0;
}

.c-form > * + * {
    margin-block-start: var(--step-2);
}

.c-form__field > * + * {
    margin-block-start: var(--step--4);
}

.c-form__label {
    display: block;
}

.c-form__input {
    width: 100%;

    font-style: italic;
    font-family: var(--font-family-monospace);
    line-height: var(--line-height-body);

    border: var(--border-width-thick) solid var(--color-dark);

    @extend %box--inset, %box;
}

textarea.c-form__input {
    height: 12em;
}

/**
 * Button
 *
 * 1. When button is clicked, the border of it is always visible
 */
.c-form__button {
    width: fit-content;

    font-weight: 600;

    border: var(--border-width-thick) solid var(--color-dark); /* [1] */
    cursor: pointer;
    font-variation-settings: "wght" 600;

    @extend %box--inset-squished, %box--invert, %box;
}

.c-form__button:active {
    @extend %box--restore;

    transform: scale(.95);
}
