/* ==========================================================================
   #BACKGROUNDS
   ========================================================================== */

.c-background {
    background-image: var(--bg-dots);
}

.c-background__text {

    line-height: var(--line-height-loose);

    background-color: var(--color-light);
    padding: 0 var(--s-2) var(--s-5) var(--s-2);
    box-decoration-break: clone;
}

