/* ==========================================================================
   #MAIN
   ========================================================================== */

/**
 * 1. Make the container take the available vertical space
 */
.c-main {
    display: flex; /* [1] */

    background: linear-gradient(
    90deg,
    var(--color-background),
    var(--color-background) 50vw,
    transparent 0,
    transparent);
}

.c-main__container {
    flex: 1; /* [1] */

    background: var(--color-background);
    padding-block: var(--grid-column-gap);
}
