/* ==========================================================================
   #SEPARATOR
   ========================================================================== */

.c-separator > * + *:before {
    display: block;

    border-top: var(--s-5) solid var(--color-dark);
    content: "";
    inline-size: var(--s2);
    padding-block-start: var(--stack__space);
}
