/* ==========================================================================
   #PAGE
   ========================================================================== */

.c-page {
    display: flex;
    flex-direction: column;
}

.c-page__main {
    flex: 1;
}
