/* ==========================================================================
   #BANNER
   ========================================================================== */

.c-banner {
    color: var(--color-neutral-darker);

    background-color: var(--color-neutral-lighter);
    padding-block: 4vw;
}
