/* ==========================================================================
   #SECTIONS
   ========================================================================== */

/**
 * Sections - https://w3c.github.io/html/sections.html
 */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 5.  Prevent font size adjustment on orientation change in iOS.
 */

html {
    block-size: 100vh;
    overflow-y: scroll; /* [2] */
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%; /* [5] */
}



::selection {
    background-color: var(--color-highlight);
}



:focus {
    outline-color: var(--color-focus);
}



body {
    min-block-size: 100vh; /* [3] */
    font-size: var(--font-size-body); /* [1] */
    font-family: var(--font-family-serif);
    line-height: var(--line-height-tight); /* [1] */
    color: var(--color-text);

    background: var(--color-offset);

    @extend %type-feature-body;
}
