/* ==========================================================================
 * #HEADINGS
 * ========================================================================== */

:--heading {
    font-weight: 500;
    line-height: var(--line-height-solid);

    margin-top: 0;
}

h1 {
    font-size: var(--font-size-title);
}

h2 {
    font-size: var(--font-size-heading);
}

h3 {
    font-size: var(--font-size-subhead);
}

h4,
h5,
h6 {
    font-size: var(--font-size-caption);
    text-transform: uppercase;
    letter-spacing: .125em;
}
