/* ==========================================================================
   #CODE
   ========================================================================== */

code,
samp,
var {
    font-family: var(--font-family-monospace);
    hanging-punctuation: none;
}

code,
samp {
    font-size: var(--font-size-default);
}

:not(pre) > code {
    background-color: var(--color-offset);
    padding: var(--inset-small-squished);
}

samp {
    border: var(--border-width-thin) solid var(--color-offset);
    padding: var(--inset-small-squished);
}
