/* ==========================================================================
   #GROUPING
   ========================================================================== */

/**
 * Grouping content
 *
 * https://w3c.github.io/html/grouping-content.html
 */

/* -------------------------------------
   #HR
   ------------------------------------- */

/**
 * TODO: refine this component
 * TODO: perhaps it will be usefull to have more sizes
 */
hr {
    display: block;
    height: var(--step--5);

    text-align: left;

    background-color: var(--color-dark);
    border: none;
    inline-size: var(--step-2);
    margin-inline-start: 0;
}


/* -------------------------------------
   #PRE
   ------------------------------------- */

pre {
    display: block;

    overflow-x: scroll;

    @extend %box--inset-small-squished, %box--invert, %box;
}





/* -------------------------------------
   #BLOCKQUOTE
   ------------------------------------- */

/**
 * 1. Override browser style
 */
blockquote {
    border-inline-start: var(--border-width-thickest) solid var(--color-dark);
    margin-inline-start: 0; /* [1] */
    padding-inline-start: var(--flow-inset);
}





/* -------------------------------------
   #LISTS
   ------------------------------------- */

li {
    display: var(--list-display, block);
}

dd {
    margin-inline-start: 0;
}



/* -------------------------------------
   #FIGURES
   ------------------------------------- */

/**
 * Reseting browser styles
 */

figure {
    margin: 0;
}
