/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * Text-level semantics
 *
 * https://w3c.github.io/html/textlevel-semantics.html
 */

/* ==========================================================================
   #A
   ========================================================================== */

a {
    color: var(--anchor-color, inherit);
    text-decoration-color: var(--anchor-decoration-color, inherit);
    text-decoration-line: var(--anchor-decoration-line, underline);
    text-decoration-skip-ink: auto;
    text-decoration-thickness: var(--border-width-thin);
    text-underline-offset: var(--anchor-decoration-offset, var(--space-3xs));
    transition: all var(--transition-short);
}

a:hover,
a:active {
    color: var(--anchor-color-hover, inherit);
    text-decoration-color: var(--anchor-decoration-color-hover, var(--anchor-decoration-color));
    text-decoration-thickness: var(--border-width-thick);
}

/**
 * Instead of using a `class="is-current"`, there is an accessible way of doing
 * it.
 * https://tink.uk/using-the-aria-current-attribute/
 *
 * 1. Remove underline
 */

a[aria-current] {
    font-variation-settings: "wght" 800;
    font-weight: 800;
}





/***
 * Focus
 */
a:focus-visible {
    outline: var(--color-focus) solid var(--border-width-thickest);
    outline-offset: var(--space-2xs);
}





/* -------------------------------------
   #EM
   ------------------------------------- */

/***
 * 1. Necessary to prevent Safari & Firefox from adding a faux-italic slant
 */

em {
    font-style: italic; /* [1] */
}





/* -------------------------------------
   #STRONG
   ------------------------------------- */

strong {
    font-variation-settings: "wght" var(--font-weight-strong, 800);
    font-weight: var(--font-weight-strong, 800);
}





/* -------------------------------------
   #ABBR
   ------------------------------------- */

/**
 * Better abbr
 *
 * 1. Make <abbr> more readable.
 *    see https://practice.typekit.com/lesson/caring-about-opentype-features/
 * 2. Safari iOs doesn't support font-feature so we use text-transform to
 *    make the texte uppercase. http://caniuse.com/#search=font-feature
 * 3. Display title attribute value if the device's primary input does not
 *    have hover
 * 4. Do not show title in small-caps
 */

abbr {
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum",
        "smcp", "c2sc"; /* [1] */

    font-kerning: normal; /* [1] */
    font-variant-caps: all-small-caps; /* [1] */
    font-variant-ligatures: common-ligatures, contextual; /* [1] */
    font-variant-numeric: oldstyle-nums, proportional-nums; /* [1] */
    text-transform: uppercase; /* [1] [2] */
}

@media (hover: none) {
    abbr::after {
        content: " ("attr(title) ")"; /* [3] */
        font-size: var(--font-size-reference); /* [3] */
        font-variant-caps: initial;
        text-transform: none;
    }
}





/* -------------------------------------
   #CODE
   ------------------------------------- */

/**
 * 1. Enable programming ligatures
 */

code,
samp,
var {
    font-family: var(--font-family-monospace);
    font-feature-settings: "dlig"; /* [1] */
    font-variant-numeric: tabular-nums;
    hanging-punctuation: none;
}

code,
samp {
    font-size: var(--font-size-smaller);
}

:not(pre) > code {
    background-color: var(--color-gray-shade-5);
    color: var(--color-gray-shade-1);
    padding: var(--text-box);
}

@media (prefers-color-scheme: dark) {
    :not(pre) > code {
        background-color: var(--color-gray-shade-2);
        color: var(--color-gray-shade-6);
    }
}

/**
 * Make code selectable
 *
 * This apply to text directly in `<code>` and things like `<code><span>`
 */
code::selection,
code ::selection {
    background-color: var(--color-gray-shade-1);
    color: var(--color-gray-shade-6);
}

samp {
    color: var(--color-gray-shade-2);
}





/* -------------------------------------
   #MARK
   ------------------------------------- */

mark {
    background-color: var(--color-gray-shade-2);
}
