/* ==========================================================================
   #SECTIONS
   ========================================================================== */

/**
 * Sections
 *
 * https://w3c.github.io/html/sections.html
 */


/* -------------------------------------
   #HTML
   ------------------------------------- */

/**
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Prevent font size adjustment on orientation change in iOS.
 * 3. More sensible default box-sizing:
 *    css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
    block-size: 100vh;
    box-sizing: border-box; /* [3] */
    overflow-y: scroll; /* [1] */
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%; /* [2] */
}



/* -------------------------------------
   #SELECTION
   ------------------------------------- */

::selection {
    color: var(--color-light);

    background-color: var(--color-dark);
}



/* -------------------------------------
   #FOCUS
   ------------------------------------- */

:focus {
    outline-color: var(--color-dark);
    outline-style: dotted;
    outline-width: var(--border-width-thick);
}



/* -------------------------------------
   #BODY
   ------------------------------------- */

/**
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */

body {
    @extend %body;
    @extend %type-feature-body;
    color: var(--color-dark);

    background: var(--color-light);
    margin: 0;
    min-block-size: 100vh; /* [2] */
}



/* -------------------------------------
   #HEADINGS
   ------------------------------------- */

:--heading {
    font-size: inherit;
    font-weight: inherit;
    break-after: avoid;
}
