/* ==========================================================================
   #EDITS
   ========================================================================== */

/**
 * Edits
 *
 * https://w3c.github.io/html/edits.html
 */

/* -------------------------------------
   #DEL
   ------------------------------------- */

del {
    text-decoration: line-through;
}

/***
 * Improve accessibility
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del
 */
del::before,
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

del::before {
  content: " [deletion start] ";
}

del::after {
  content: " [deletion end] ";
}





/* -------------------------------------
   #INS
   ------------------------------------- */

ins {
    text-decoration: underline;
}

/***
 * Improve accessibility
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins
 */
ins::before,
ins::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ins::before {
  content: " [insertion start] ";
}

ins::after {
  content: " [insertion end] ";
}
