/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * Text-level sementics
 *
 * https://w3c.github.io/html/textlevel-semantics.html
 */

/* ==========================================================================
   #A
   ========================================================================== */

a {
    color: var(--anchor-color, inherit);
    text-decoration: var(--anchor-decoration, underline);
    text-decoration-color: currentColor;
    text-decoration-skip-ink: auto;
    text-underline-offset: .1em;
    transition: all var(--transition-short);
}

a:hover,
a:active {
    text-decoration-color: transparent;
}

/**
 * Instead of using a `class="is-current"`, there is an accessible way of doing
 * it.
 * https://tink.uk/using-the-aria-current-attribute/
 *
 * 1. Remove underline
 */

a[aria-current] {
    font-weight: 800;
    font-variation-settings: "wght" 800;
}

a[rel="external"]::after {
    --font-size: .69em;
    display: inline-block; /* [1] */

    font-size: var(--font-size);

    content: "↗";
    margin-inline-start: calc(.25 * var(--font-size));
    vertical-align: super;
}





/* -------------------------------------
   #EM
   ------------------------------------- */

/***
 * 1. Necessary to prevent Safari & Firefox from adding a faux-italic slant
 */

em {
    font-style: normal; /* [1] */
    text-decoration: underline;
    text-decoration-style: wavy;
}





/* -------------------------------------
   #STRONG
   ------------------------------------- */

strong {
    font-weight: var(--font-weight-strong, 800);
    font-variation-settings: "wght" var(--font-weight-strong, 800);
}





/* -------------------------------------
   #ABBR
   ------------------------------------- */

/**
 * Better abbr
 *
 * 1. Make <abbr> more readable.
 *    see https://practice.typekit.com/lesson/caring-about-opentype-features/
 * 2. Safari iOs doesn't support font-feature so we use text-transform to
 *    make the texte uppercase. http://caniuse.com/#search=font-feature
 * 3. Display title attribute value if the device's primary input does not
 *    have hover
 * 4. Do not show title in small-caps
 */

abbr {
    font-kerning: normal; /* [1] */
    text-transform: uppercase; /* [1] [2] */
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum",
        "smcp", "c2sc"; /* [1] */
    font-variant-caps: all-small-caps; /* [1] */
    font-variant-ligatures: common-ligatures, contextual; /* [1] */
    font-variant-numeric: oldstyle-nums, proportional-nums; /* [1] */
}

@media (hover: none) {

    abbr::after {
        font-size: var(--font-size-reference); /* [3] */
        text-transform: none;
        content: " ("attr(title) ")"; /* [3] */
        font-variant-caps: initial;
    }
}





/* -------------------------------------
   #CODE
   ------------------------------------- */

code,
samp,
var {
    font-family: var(--font-family-monospace);
    hanging-punctuation: none;
}

code {
    font-size: var(--font-size-smaller);
}

:not(pre) code {
    @extend %box--inset-small-squished, %box--invert, %box;
}



/**
 * Make code selectable
 *
 * This apply to text directly in `<code>` and things like `<code><span>`
 */
code::selection,
code ::selection {
    color: var(--color-dark);

    background-color: var(--color-light);
}

samp {
    font-size: var(--font-size-smaller);

    border: var(--border-width-thin) solid var(--color-dark);

    @extend %box--inset-small-squished, %box;
}





/* -------------------------------------
   #MARK
   ------------------------------------- */

mark {
    color: var(--color-light);

    background-color: var(--color-dark);
}
