/* ==========================================================================
 * #LISTS
 * ========================================================================== */

/**
 * All lists
 */
:--list {
    margin-inline-start: 0;
    list-style-position: inside;
}

:--list :--list {
    margin-inline-start: var(--space-block-small);
}



/**
 * Definition list
 */
dt {
    font-weight: 500;
}

dd {
    margin-inline-start: var(--space-block-small);
}

dd + dt {
    margin-block-start: var(--space-block-xsmall);
}
