/* ==========================================================================
 * #LISTS
 * ========================================================================== */

/**
 * All lists
 */
:--list {
    list-style-position: inside;
    margin-inline-start: var(--flow-inset, 0);
}




/**
 * Definition list
 */
dt {
    font-weight: 500;
}

dd {
    margin-inline-start: var(--flow-inset, 0);
}
