/* ==========================================================================
   #GROUPING
   ========================================================================== */

/**
 * Grouping content
 *
 * https://w3c.github.io/html/grouping-content.html
 */

/* -------------------------------------
   #HR
   ------------------------------------- */

/**
 * TODO: refine this component
 * TODO: perhaps it will be usefull to have more sizes
 */
hr {
    display: block;
    height: var(--s-5);

    text-align: left;

    background-color: var(--color-dark);
    border: none;
    inline-size: var(--s2);
    margin-inline-start: 0;
}


/* -------------------------------------
   #PRE
   ------------------------------------- */

pre {
    display: block;

    background-color: var(--color-dark);
    padding: var(--inset);
    overflow-x: scroll;
}





/* -------------------------------------
   #BLOCKQUOTE
   ------------------------------------- */

/**
 * 1. Override browser style
 */
blockquote {
    border-inline-start: var(--border-width-thickest) solid var(--color-dark);
    margin-inline-start: 0; /* [1] */
    padding-inline-start: var(--flow-inset);
}





/* -------------------------------------
   #LISTS
   ------------------------------------- */

li {
    display: var(--list-display, block);
}

dt {
    font-weight: 800;
}

dd {
    margin-inline-start: var(--flow-inset, 0);
}

/**
 * 1. `dt` are sometimes visually hidden. This rules force consistency
 */
dd + dt,
dd + dt.u-visually-hidden + dd { /* [1] */
    margin-block-start: calc(var(--flow-space, 0) / 2);
}




/* -------------------------------------
   #FIGURES
   ------------------------------------- */

/**
 * Reseting browser styles
 */

figure {
    margin: 0;
}
