/* ==========================================================================
 * #TABULAR-DATA
 * ========================================================================== */

/**
 * 1. Ensure tables fill up as much space as possible.
 */

table {
    width: 100%; /* [1] */

    @extend %type-features-data;
}

tr {
    break-inside: avoid;
}

td,
th {
    text-align: start;
    vertical-align: top;
}

thead th {
    font-weight: 800;
}

tbody th {
    font-weight: normal;
}

caption {
    text-align: start;
    caption-side: bottom;
}
