/* ==========================================================================
 * #HEADINGS
 * ========================================================================== */

:--heading {
    font-weight: 500;
    line-height: var(--line-height-solid);

    margin-top: 0;
}

h1 {
    @extend %title;
}

h2 {
    @extend %heading;
}

h3 {
    @extend %subhead;
}

h4,
h5,
h6 {
    @extend %overline;
}

