/* ==========================================================================
 * #RESET
 * ========================================================================== */

/**
 * Remove margin and padding on lists
 */

:--list {
    margin: 0;
    padding: 0;
}



/**
 * Remove trailing margins from nested lists.
 */

li > {

    ol,
    ul {
        margin-block-end: 0;
    }
}



/**
 * Remove default table spacing.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */

fieldset {
    min-width: 0; /* [1] */

    border: 0;
}
