/* ==========================================================================
   #CONTAINERS
   ========================================================================== */

.o-container {
    margin-inline: auto;
    max-inline-size: var(--container-inline-size);
    padding-inline: var(--grid-column-gap);
}

@media (--from-large-viewport) {
  :root {
    --container-inline-size: 80vw;
  }
}

@media (--from-largest-viewport) {
  :root {
    --container-inline-size: 80rem;
  }
}
