/* ==========================================================================
   #PROSE
   ========================================================================== */

/**
 * Prose is a scope for linear text.
 */
.o-prose p {
    line-height: var(--line-height-loose);
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limite-lines: 2;
    hyphenate-limite-zone: 8%;
    hyphens: auto;
}

.o-prose * {
    max-inline-size: var(--line-measure);
}

.o-prose * + h2 {
    margin-block-start: var(--space-block-large);
}

.o-prose * + h3,
.o-prose * + h4 {
    margin-block-start: var(--space-block-medium);
}
