/* ==========================================================================
   #BOX
   ========================================================================== */

.o-box {
    color: var(--box__color, var(--color-gray-shade-6));

    background-color: var(--box__background-color, var(--color-gray-shade-1));
    padding-block: var(--box__padding-block, var(--space-m));
    padding-inline: var(--box__padding-inline, var(--space-m));
}

.o-box *:not(pre, code),
.o-box *:not[class] {
    color: inherit;
}





/* -----------------------------------
   #BOX MODIFIER
   ----------------------------------- */

/***
 * Dark becomes light, and light becomes dark
 */
.o-box--invert {
    --box__color: var(--color-gray-shade-6);
    --box__background-color: var(--color-gray-shade-1);
}

.o-box--invert::selection,
.o-box--invert ::selection {
    --box__color: var(--color-gray-shade-1);
    --box__background-color: var(--color-gray-shade-6);
}

/***
 * Box L
 */
.o-box--space-l {
    --box__padding-inline: var(--space-l);
    --box__padding-block: var(--space-l);
}
