/* ==========================================================================
   # CONTAINER
   ========================================================================== */

.o-container {
    max-width: var(--grid-max-width);
    margin-inline: auto;
    padding-inline: var(--grid-gutter);
}
