/* ==========================================================================
   #GRID
   ========================================================================== */

.o-grid {
    display: grid;
    grid-gap: var(--space-m);
}

@supports (width: min(cacl(2 * var(--space-3xl)), 100%)) {
    .o-grid {
        grid-template-columns: repeat(
            auto-fit, 
            minmax(
                min(
                    calc(2 * var(--space-3xl)),
                    100%
                ), 
                1fr
            )
        );
    }
}
