/* ==========================================================================
   #STACK
   ========================================================================== */

/**
 * Stack
 *
 * 1. define different sizes
 */

.o-stack > * {
    margin-block: 0;
}

/**
 * Define spaces for each modifier
 */
.o-stack.o-stack--step--4 { --stack__space: var(--step--4); /* [1] */ }

.o-stack.o-stack--step--3 { --stack__space: var(--step--3); /* [1] */ }

.o-stack.o-stack--step--2 { --stack__space: var(--step--2); /* [1] */ }

.o-stack.o-stack--step--1 { --stack__space: var(--step--1); /* [1] */ }

.o-stack { --stack__space: var(--step-0); /* [1] */ }

.o-stack.o-stack--step-1 { --stack__space: var(--step-1); /* [1] */ }

.o-stack.o-stack--step-2 { --stack__space: var(--step-2); /* [1] */ }

.o-stack.o-stack--step-3 { --stack__space: var(--step-3); /* [1] */ }

.o-stack.o-stack--step-4 { --stack__space: var(--step-4); /* [1] */ }

/* set the space */
.o-stack > * + * {
    margin-block-start: var(--stack__space);
}

/* Remove margin if the first element of the stack is hidden */
.o-stack > .u-visually-hidden:first-child + * {
    --stack__space: 0;
}

