/* ==========================================================================
   # FRAME
   ========================================================================== */

/**
 * There's a fix in `.o-prose` to not have a `max-line-size`
 */
.o-frame {
    --n: 9;
    --d: 16;
    position: relative;

    padding-bottom: calc(var(--n) / var(--d) * 100%);
}

.o-frame > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.o-frame > img,
.o-frame > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**
 * Fix vimeo embed on iOS
 * https://github.com/alienlebarge/alienlebargech-v3/pull/35
 */
.o-frame > iframe {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
