/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

/**
 * The list-inline object simply displays a list of items in one line.
 */

.o-list-inline {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
