/* ==========================================================================
   #STACK
   ========================================================================== */

/**
 * Stack
 *
 * 1. define different sizes
 */

.o-stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.o-stack > * {
    margin-block: 0;
}

/**
 * Define spaces for each modifier
 */
.o-stack.o-stack--space-3xs { --stack__space: var(--space-3xs); /* [1] */ }

.o-stack.o-stack--space-2xs { --stack__space: var(--space-2xs); /* [1] */ }

.o-stack.o-stack--space-xs { --stack__space: var(--space-xs); /* [1] */ }

.o-stack.o-stack--space-s { --stack__space: var(--space-s); /* [1] */ }

.o-stack { --stack__space: var(--space-m); /* [1] */ }

.o-stack.o-stack--space-l { --stack__space: var(--space-l); /* [1] */ }

.o-stack.o-stack--space-xl { --stack__space: var(--space-xl); /* [1] */ }

.o-stack.o-stack--space-2xl { --stack__space: var(--space-2xl); /* [1] */ }

.o-stack.o-stack--space-3xl { --stack__space: var(--space-3xl); /* [1] */ }

/* set the space */
.o-stack > * + * {
    margin-block-start: var(--stack__space);
}

/* Remove margin if the first element of the stack is hidden */
.o-stack > .u-visually-hidden:first-child + * {
    --stack__space: 0;
}

