/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

/**
 * The list-inline object simply displays a list of items in one line.
 */

.o-list-inline {
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 0;
    margin-inline-start: 0;
}

.o-list-inline__item {
    display: block;
}
