/* ==========================================================================
   #WITH-SIDEBAR
   ========================================================================== */

.o-with-sidebar {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3xs-l);
}

.o-with-sidebar > :first-child {
    flex-basis: var(--space-3xl);
    flex-grow: 1;
}

.o-with-sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 70%;
}
