/* ==========================================================================
   #STACK
   ========================================================================== */

.o-stack.o-stack--small {
  --space: var(--s-2);
}

.o-stack.o-stack--medium {
  --space: var(--s0);
}

.o-stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.o-stack > * + * {
  margin-top: var(--space);
}
