/* ==========================================================================
   #SWITCHER
   ========================================================================== */

.o-switcher {
    --step-1: var(--step--2);
    --measure: var(--line-measure);
}

.o-switcher__container {
    display: flex;

    margin: calc((var(--step-1) / 2) * -1);
    align-items: baseline;
    flex-wrap: wrap;
}

.o-switcher__item {
    flex-grow: 1;
    flex-basis: calc((var(--measure) - (100% - var(--step-1))) * 999);

    margin: calc(var(--step-1) / 2);
}

.o-switcher__item--big {
    flex-grow: 2;
}

/* stylelint-disable selector-max-compound-selectors */
.o-switcher > * > :nth-last-child(n+4),
.o-switcher > * > :nth-last-child(n+4) ~ * {
    flex-basis: 100%;
}
/* stylelint-enable */
