/* ==========================================================================
   #BOX
   ========================================================================== */

/***
 * Variable in use in .o-box are:
 *
 * --box__padding-inline
 * --box__padding-block
 * --box__color
 * --box__background-color;
 */
.o-box {
    color: var(--box__color, var(--color-dark));

    background-color: var(--box__background-color, var(--color-light));
    padding-block: var(--box__padding-block, var(--step-0));
    padding-inline: var(--box__padding-inline, var(--step-0));
}





/* -----------------------------------
   #BOX MODIFIER
   ----------------------------------- */

/***
 * Dark becomes light, and light becomes dark
 */
.o-box--invert {
    --box__color: var(--color-light);
    --box__background-color: var(--color-dark);
}

/***
 * Bigger box
 */
.o-box--step-1 {
    --box__padding-inline: var(--step-1);
    --box__padding-block: var(--step-1);
}

/***
 * Container box
 */
.o-box--container {
    --box__padding-inline: 5vw;
}

/***
 * Bigger container box
 */
.o-box--container-big {
    --box__padding-inline: 5vw;
    --box__padding-block: var(--step-4);
}
