/* ==========================================================================
   #CONTAINERS
   ========================================================================== */

.o-container {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--measure);
    width: 100%;
}
