/* ==========================================================================
   # CONTAINER
   ========================================================================== */

.o-container {
    margin-inline: auto;
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    width: 100%;
}

.o-container.o-container--full {
    max-width: initial;
}
