/* ==========================================================================
   #CLUSTER
   ========================================================================== */

.o-cluster.o-cluster--step-1 {
    --cluster__space: var(--step-1);
}

.o-cluster:not([class*="o-cluster--step"]) {
    --cluster__space: var(--step-0);
}

.o-cluster.o-cluster--step--2 {
    --cluster__space: var(--step--2);
}



.o-cluster {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--cluster__space, var(--step--0));
    justify-content: flex-start;
}



.o-cluster.o-cluster--space-between {
    justify-content: space-between;
}
