/* ==========================================================================
   #PROSE
   ========================================================================== */

/**
 * Prose is a scope for linear text.
 */

.o-prose {
    --space: var(--s3);
    --flow-inset: 1.5em;
    --anchor-decoration: underline;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body, inherit);
}

/* -------------------------------------
   #SPACES
   ------------------------------------- */

/**
 * Vertical space (flow direction)
 */

.o-prose > * {
    margin-block-end: 0;
    margin-block-start: 0;
}

.o-prose > * + * {
    margin-block-start: var(--space);
}

/**
 * Exceptions
 *
 * 1. Space after h2
 * 2. Space after h3
 * 3. Space after h4, h5 and h6
 * 4. Space between li
 * 5. Space between things inside a li. For exemople a `p`
 */

.o-prose > h2 + * {
    --space: var(--s-1); /* [1] */
}

.o-prose > h3 + * {
    --space: var(--s-1); /* [2] */
}

.o-prose :matches(h4, h5, h6) + * {
    --space: var(--s-2); /* [3] */
}

.o-prose li {
    --space: var(--s-4); /* [4] */
}

.o-prose li + li,
.o-prose :--list > li:first-child {
    margin-block-start: var(--space); /* [4] */
}

.o-prose li > * {
    margin-block-end: 0; /* [5] */
    margin-block-start: 0; /* [5] */
}

.o-prose > p + p {
    --space: var(--s-1);
}



/**
 * Blockquote
 */

.o-prose > blockquote > * {
    margin-block-end: 0;
    margin-block-start: 0;
}

.o-prose > blockquote > * + * {
    margin-block-start: var(--space);
}

.o-prose > blockquote > p + p {
    --space: var(--s-1);
}



/**
 * Horizontal space (writing direction)
 *
 *  1. Images (and figures) are not included because because they are fluid by
 *     default (`max-width: 100%;`). This is defined in the element style. And
 *     we do not want to override it.
 */

.o-prose *:not(img):not(figure) {
    max-inline-size: var(--line-measure); /* [1] */
}

/* -------------------------------------
   #STYLES
   ------------------------------------- */

/**
 * Headings
 */

.o-prose > h1 {
    @extend %title;
}

.o-prose > h2 {
    @extend %heading;
}

.o-prose > h3 {
    @extend %subhead;
}

.o-prose :matches(h4, h5, h6) {
    @extend %overline;
}




/**
 * Lists
 *
 * 1. On bigger screen, the bullet position is outside. Inside let you gain
 *    horizontal space on mobile
 * 2. Ensure consistency across different pages
 *    https://github.com/alienlebarge/alienlebargech-v3/issues/33
 */

.o-prose ul:not([class]) {
    --list-display: list-item;
    list-style: disc; /* [2] */
}

.o-prose :--list {
    list-style-position: inside; /* [1] */
    padding-inline-start: 0;
}

.o-prose :--list :--list {
    padding-inline-start: var(--flow-inset);
}

@media (--from-small-viewport) {

    .o-prose :--list {
        list-style-position: outside; /* [1] */
    }
}



.o-prose dt {
    font-weight: 800;
}

.o-prose dd {
    margin-inline-start: var(--flow-inset, 0);
}

/**
 * 1. `dt` are sometimes visually hidden. This rules force consistency
 */
.o-prose dd + .o-prose dt,
.o-prose dd + .o-prose dt.u-visually-hidden + .o-prose dd { /* [1] */
    margin-block-start: calc(var(--flow-space, 0) / 2);
}


/* -------------------------------------
   #EMBED
   ------------------------------------- */

.o-prose figcaption {
    @extend %caption;
}
