/* ==========================================================================
   #SWITCHER
   ========================================================================== */

.o-switcher {
    --s1: var(--s-2);
    --measure: var(--line-measure);
}

.o-switcher__container {
    display: flex;

    margin: calc((var(--s1) / 2) * -1);
    flex-wrap: wrap;
    align-items: baseline;
}

.o-switcher__item {
    flex-grow: 1;
    flex-basis: calc((var(--measure) - (100% - var(--s1))) * 999);

    margin: calc(var(--s1) / 2);
}

.o-switcher__item--big {
    flex-grow: 2;
}

.o-switcher > * > :nth-last-child(n+4),
.o-switcher > * > :nth-last-child(n+4) ~ * {
    flex-basis: 100%;
}
