/* ==========================================================================
   #PROSE
   ========================================================================== */

/**
 * Prose is a scope for linear text.
 */

.o-prose {
    --space: var(--space-l);
    --flow-inset: var( --space-m);
    --anchor-decoration-line: underline;
    --anchor-decoration-color: var(--color-primary-shade-4);
    --anchor-color-hover: var(--color-primary-shade-4);

    font-size: var(--font-size-body);
    font-variation-settings: "wght" var(--font-weight-body, inherit);
    font-weight: var(--font-weight-body, inherit);
}

/* -------------------------------------
   #SPACES
   ------------------------------------- */

/**
 * Vertical space (flow direction)
 */

.o-prose > * {
    margin-block-end: 0;
    margin-block-start: 0;
}

.o-prose > * + * {
    margin-block-start: var(--space);
}



/**
 * Remove element with empty content
 *
 * 1. Remove empty paragraphs
 * 2. Remove margin of the second element if the first one is an empty paragraph
 */

.o-prose > p:empty {
    display: none; /* [1] */
}

.o-prose > p:empty:first-child + *{
    margin-block-start: 0;
}



/**
 * Exceptions
 *
 * 1. Space after h2
 * 2. Space after h3
 * 3. Space after h4, h5 and h6
 * 4. Space between li
 * 5. Space between things inside a li. For exemople a `p`
 */

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > h2 + * {
    --space: var(--space-m); /* [1] */
}

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > h3 + * {
    --space: var(--space-m); /* [2] */
}

/* stylelint-disable-next-line no-descending-specificity */
.o-prose :is(h4, h5, h6) + * {
    --space: var(--space-xs); /* [3] */
}

.o-prose li {
    --space: var(--space-2xs); /* [4] */
}

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > ul:not([class]) > li + li,
.o-prose :is(
    dl:not([class]),
    ol:not([class]),
    ul:not([class])) > li:first-child {
    margin-block-start: var(--space); /* [4] */
}

/* stylelint-disable-next-line no-descending-specificity */
.o-prose li > * {
    margin-block-end: 0; /* [5] */
    margin-block-start: 0; /* [5] */
}

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > p + p {
    --space: var(--space-m);
}



/**
 * Blockquote
 */

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > blockquote > * {
    margin-block-end: 0;
    margin-block-start: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > blockquote > * + * {
    margin-block-start: var(--space);
}

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > blockquote > p + p {
    --space: var(--space-m);
}



/***
 * Figures
 */

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > figure > * {
    margin-block-end: 0;
    margin-block-start: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > figure > * + * {
    margin-block-start: var(--space);
}

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > figure > * + figcaption {
    --space: var(--space-2xs);
}



/**
 * Horizontal space (writing direction)
 *
 *  1. Images (and figures) are not included because they are fluid by default
 *     (`max-width: 100%;`). This is defined in the element style. And we do
 *     not want to override it.
 */

/* stylelint-disable-next-line no-descending-specificity */
.o-prose > *:not(table, .o-frame) {
    max-inline-size: var(--line-measure); /* [1] */
}





/* -------------------------------------
   #STYLES
   ------------------------------------- */

/**
 * Headings
 */

.o-prose > h1 {
    font-family: var(--font-family-title, var(--font-family-sans));
    font-size: var(--font-size-title);
    font-variation-settings: "wght" var(--font-weight-title, 700);
    font-weight: var(--font-weight-title, 700);
    hanging-punctuation: first;
    letter-spacing: 0; /* [1] */
    line-height: var(--line-height-title, var(--line-height-tight));
}

.o-prose > h2 {
    font-family: var(--font-family-heading, var(--font-family-sans));
    font-size: var(--font-size-heading);
    font-variation-settings: "wght" var(--font-weight-heading, 600);
    font-weight: var(--font-weight-heading, 600);
    hanging-punctuation: first;
    letter-spacing: 0; /* [1] */
    line-height: var(--line-height-heading, var(--line-height-tight));
}

.o-prose > h3 {
    font-family: var(--font-family-subhead, var(--font-family-sans));
    font-size: var(--font-size-subhead);
    font-variation-settings: "wght" var(--font-weight-subhead, 600);
    font-weight: var(--font-weight-subhead, 600);
    hanging-punctuation: first;
    letter-spacing: 0; /* [1] */
    line-height: var(--line-height-subhead, var(--line-height-tight));
}

.o-prose :is(h4, h5, h6) {
    font-family: var(--font-family-overline, inherit);
    font-size: var(--font-size-caption);
    font-variation-settings: "wght" var(--font-weight-overline, 800);
    font-weight: var(--font-weight-overline, 800);
    letter-spacing: .125em;
    text-transform: uppercase;
}




/**
 * Lists
 *
 * 1. Ensure consistency across different pages
 *    https://github.com/alienlebarge/alienlebargech-v3/issues/33
 */

.o-prose ul:not([class]),
.o-prose ol:not([class]) {
    --list-display: list-item;

    padding-inline-start: var(--flow-inset);
}

.o-prose ul:not([class]) {
    list-style-type: disc; /* [1] */
}

.o-prose ol:not([class]) {
    list-style-type: decimal; /* [1] */
}

.o-prose :is(dl, ol, ul) {
    padding-inline-start: 0;
}



.o-prose dt {
    font-weight: 800;
}

.o-prose dd {
    margin-inline-start: var(--flow-inset, 0);
}

/**
 * 1. `dt` are sometimes visually hidden. This rules force consistency
 */

.o-prose dd + .o-prose dt,
.o-prose dd + .o-prose dt.u-visually-hidden + .o-prose dd { /* [1] */
    margin-block-start: calc(var(--flow-space, 0) / 2);
}



/**
 * Table
 */
.o-prose > table {
    display: block;
    overflow-x: auto;
}





/* -------------------------------------
   #EMBED
   ------------------------------------- */

/* stylelint-disable-next-line no-descending-specificity */
.o-prose figcaption {
    --flow-space: calc(var(--line-height-caption) / 3);
    --line-height-caption: var(--line-height-tight);

    font-size: var(--font-size-caption);
    letter-spacing: var(--letter-spacing-body);
    line-height: var(--line-height-caption);
}
