/* ==========================================================================
   #SWITCHER
   ========================================================================== */

.o-switcher {
    --measure: var(--line-measure);

    display: flex;
    flex-wrap: wrap;
    gap: var(--step--2);
    align-items: baseline;
}

.o-switcher__item {
    flex-grow: 1;
    flex-basis: calc((var(--measure) - 100%) * 999);
}

.o-switcher__item--big {
    flex-grow: 2;
}

/* stylelint-disable selector-max-compound-selectors */
.o-switcher > * > :nth-last-child(n+5),
.o-switcher > * > :nth-last-child(n+5) ~ * {
    flex-basis: 100%;
}
/* stylelint-enable */
