/* ==========================================================================
   #STACK
   ========================================================================== */

.o-stack.o-stack--small {
  --space: var(--space-block-small);
}

.o-stack.o-stack--medium {
  --space: var(--space-block-medium);
}

.o-stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.o-stack > * + * {
  margin-top: var(--space);
}
