/* ==========================================================================
 * #LIST-BARE
 * ========================================================================== */

/**
 * Strip list-like appearance from lists by removing their bullets and any
 * indentation.
 *
 * Note: Declaring the item class might not be necessary everywhere,
 * but is for example in <dl> lists for the <dd> children.
 */

.o-list-bare {
    margin-inline-start: 0;
    list-style: none;
}

.o-list-bare__item {
    margin-inline-start: 0;
}
