/* ==========================================================================
   #BOX
   ========================================================================== */

.o-box {
    @extend %box;
}

.o-box *:not(pre, code),
.o-box *:not[class] {
    color: inherit;
}





/* -----------------------------------
   #BOX MODIFIER
   ----------------------------------- */

/***
 * Dark becomes light, and light becomes dark
 */
.o-box--invert {
    @extend %box--invert;
}

.o-box--invert::selection,
.o-box--invert ::selection {
    color: var(--color-dark);

    background-color: var(--color-light);
}

/***
 * Bigger box
 */
.o-box--space-l {
    --box__padding-inline: var(--space-l);
    --box__padding-block: var(--space-l);
}

/***
 * Inset box
 */
.o-box--inset-squished {
    @extend %box--inset-squished;
}

.o-box--inset-small-squished {
    @extend %box--inset-small-squished;
}

.o-box--inset-large-squished {
    @extend %box--inset-large-squished;
}
