/* ==========================================================================
   #BOX
   ========================================================================== */

.o-box {
    @extend %box;
}

.o-box *:not(.o-box, pre, code) {
    color: inherit;
}





/* -----------------------------------
   #BOX MODIFIER
   ----------------------------------- */

/***
 * Dark becomes light, and light becomes dark
 */
.o-box--invert {
    @extend %box--invert;
}

/***
 * Bigger box
 */
.o-box--step-1 {
    --box__padding-inline: var(--step-1);
    --box__padding-block: var(--step-1);
}

/***
 * Container box
 */
.o-box--container {
    --box__padding-inline: 5vw;
}

/***
 * Bigger container box
 */
.o-box--container-big {
    --box__padding-inline: 5vw;
    --box__padding-block: var(--step-4);
}

/***
 * Inset box
 */
.o-box--inset-squished {
    @extend %box--inset-squished;
}

.o-box--inset-small-squished {
    @extend %box--inset-small-squished;
}

.o-box--inset-large-squished {
    @extend %box--inset-large-squished;
}
