/* ==========================================================================
   #WEBFONT
   ========================================================================== */

/* -------------------------------------
   #SANS
   ------------------------------------- */

@font-face {
    font-family: Untitled;
    font-display: swap;
    src: url("../fonts/Untitled.woff2") format("woff2");
}





/* -------------------------------------
   #SCRIPT
   ------------------------------------- */

@font-face {
    font-family: UntitledScript;
    font-display: swap;
    font-weight: 400;
    src: url("../fonts/UntitledScript-Regular.woff2") format("woff2");
}





/* -------------------------------------
   #MONO
   ------------------------------------- */

@font-face {
    font-weight: 400;
    font-family: UntitledMono;
    font-display: swap;
    src: url("../fonts/UntitledMono-Regular.woff2") format("woff2");
}

@font-face {
    font-weight: 800;
    font-family: UntitledMono;
    font-display: swap;
    src: url("../fonts/UntitledMono-Bold.woff2") format("woff2");
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: UntitledMono;
    font-display: swap;
    src: url("../fonts/UntitledMono-Italic.woff2") format("woff2");
}
