/* ==========================================================================
 * #CUSTOM-PROPERTIES
 * ========================================================================== */

:root {
    /* Neutral palette */
    --color-neutral-darkest: hsla(209, 15%, 25%, 1);
    --color-neutral-darker: hsla(207, 12%, 37%, 1);
    --color-neutral-dark: hsla(207, 10%, 48%, 1);
    --color-neutral: hsla(208, 12%, 58%, 1);
    --color-neutral-light: hsla(209, 12%, 70%, 1);
    --color-neutral-lighter: hsla(210, 16%, 88%, 1);
    --color-neutral-lightest: hsla(211, 20%, 97%, 1);

    /* Alpha palette */
    --color-alpha-highest: color-mod(var(--color-neutral-darkest) a(.1));
    --color-alpha-high: color-mod(var(--color-neutral-darkest) a(.25));
    --color-alpha-low: color-mod(var(--color-neutral-darkest) a(.75));
    --color-alpha-lowest: color-mod(var(--color-neutral-darkest) a(.9));

    /* Primary */
    --color-primary-darkest: hsla(168, 85%, 22%, 1);
    --color-primary-darker: hsla(161, 83%, 30%, 1);
    --color-primary-dark: hsla(161, 79%, 40%, 1);
    --color-primary: hsla(160, 79%, 48%, 1);
    --color-primary-light: hsla(162, 80%, 63%, 1);
    --color-primary-lighter: hsla(163, 83%, 76%, 1);
    --color-primary-lightest: hsla(165, 85%, 90%, 1);

    /* Colour assignments */
    --color-accent: var(--color-primary);
    --color-background: var(--color-neutral-lightest);
    --color-text: var(--color-neutral-darkest);
    --color-link: var(--color-accent);
    --color-link-underline: var(--color-alpha-low);
    --color-rule: var(--color-alpha-highest);
    --color-offset: var(--color-neutral-lighter);
    --color-delete: hsla(0, 100%, 80%, .5);
    --color-highlight: hsla(60, 100%, 80%, .5);
    --color-insert: hsla(120, 100%, 80%, .5);
    --color-focus: var(--color-accent);

    /* Sizing */
    --ratio: 1.4;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: calc(1rem + .333vw);
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /* Typography */
    --font-family-display: "UntitledSerifDisplay", serif;
    --font-family-serif: "UntitledSerif", serif;
    --font-family-sans: "Untitled", sans-serif;
    --font-family-system: system-ui;
    --font-family-monospace: "UntitledMono", monospace;
    --font-size-title: var(--s4);
    --font-size-lede: var(--s2);
    --font-size-heading: var(--s3);
    --font-size-subhead: var(--s2);
    --font-size-body: var(--s0);
    --font-size-reference: var(--s-1);
    --font-size-caption: var(--s-1);
    --font-size-default: 1em;
    --font-weight-lede: 500;
    --letter-spacing-body: 0; /* change on dark mode */
    --line-height-solid: 1em;
    --line-height-tight: calc(var(--ratio) * 9em / 10);
    --line-height-loose: calc(var(--ratio) * 1em);
    --line-measure: 55ch;
    --word-spacing: 0;

    /* Container */
    --measure: 70ch;

    /* Borders */
    --border-radius-xsmall: .125rem;
    --border-radius-small: .25rem;
    --border-width-thin: 1px;
    --border-width-thick: .125rem;
    --border-width-thickest: .5rem;

    /* Spacing > Inline */
    --space-inline-small: .375rem;
    --space-inline: .75rem;

    /* Inset spacing */
    --inset: calc(.5rem + .25vw);
    --inset-squished: calc(var(--inset) / 2) var(--inset);
    --inset-small: calc(var(--inset) / 2);
    --inset-small-squished: calc(var(--inset-small) / 2) var(--inset-small);
    --inset-large: calc(var(--inset) * 2);
    --inset-large-squished: calc(var(--inset-large) / 2) var(--inset-large);

    /* Grids */
    --grid-column-gap: var(--s0);
    --grid-row-gap: var(--s0);

    /* Animation */
    --transition-short: .15s;

    /* Container values */
    --container-inline-size: 100vw;
    --container-inline-inset: calc(100vw - var(--container-inline-size));
    --container-gutter: calc(var(--container-inline-inset) / 2);
}

@media (--from-large-viewport) {

    :root {
        --container-inline-size: 80vw;
    }
}

@media (--from-largest-viewport) {

    :root {
        --container-inline-size: 80rem;
    }
}

/**
 * Dark Mode
 */
@media (prefers-color-scheme: dark) {

    :root {
        /* Neutral palette */
        --color-neutral-lightest: hsla(209, 15%, 25%, 1);
        --color-neutral-lighter: hsla(207, 12%, 37%, 1);
        --color-neutral-light: hsla(207, 10%, 48%, 1);
        --color-neutral: hsla(208, 12%, 58%, 1);
        --color-neutral-dark: hsla(209, 12%, 70%, 1);
        --color-neutral-darker: hsla(210, 16%, 88%, 1);
        --color-neutral-darkest: hsla(211, 20%, 97%, 1);

        /* Alpha palette */
        --color-alpha-highest: color-mod(var(--color-neutral-lightest) a(.1));
        --color-alpha-high: color-mod(var(--color-neutral-lightest) a(.25));
        --color-alpha-low: color-mod(var(--color-neutral-lightest) a(.75));
        --color-alpha-lowest: color-mod(var(--color-neutral-lightest) a(.9));

        /* Primary */
        --color-primary-lightest: hsla(168, 85%, 22%, 1);
        --color-primary-lighter: hsla(161, 83%, 30%, 1);
        --color-primary-light: hsla(161, 79%, 40%, 1);
        --color-primary: hsla(160, 79%, 48%, 1);
        --color-primary-dark: hsla(162, 80%, 63%, 1);
        --color-primary-darker: hsla(163, 83%, 76%, 1);
        --color-primary-darkest: hsla(165, 85%, 90%, 1);

        /* Typography */
        --letter-spacing-body: .025em;
    }
}

