/* ==========================================================================
 * #CUSTOM-PROPERTIES
 * ========================================================================== */

/* @link https://utopia.fyi/generator?c=320,21,1.2,1140,24,1.25,5,5, */

:root {
    --fluid-min-width: 320;
    --fluid-max-width: 1140;
    --fluid-min-size: 21;
    --fluid-max-size: 24;
    --fluid-min-ratio: 1.2;
    --fluid-max-ratio: 1.25;
  
    --fluid-screen: 100vw;
    --fluid-bp: calc(
      (var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) /
        ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16))
    );
  }
  
  @media screen and (min-width: 1140px) {
    :root {
      --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
  }
  
  :root {
    --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
    --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));
    
    --fluid-min-scale--5: var(--fluid-min-scale--1) * var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--5: var(--fluid-max-scale--1) * var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--5: (var(--fluid-min-size) * var(--fluid-min-scale--5)) / 16;
    --fluid-max-size--5: (var(--fluid-max-size) * var(--fluid-max-scale--5)) / 16;
    --step--5: calc(((var(--fluid-min-size--5) * 1rem) + (var(--fluid-max-size--5) - var(--fluid-min-size--5)) * var(--fluid-bp))); 
    
    --fluid-min-scale--4: var(--fluid-min-scale--1) * var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--4: var(--fluid-max-scale--1) * var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--4: (var(--fluid-min-size) * var(--fluid-min-scale--4)) / 16;
    --fluid-max-size--4: (var(--fluid-max-size) * var(--fluid-max-scale--4)) / 16;
    --step--4: calc(((var(--fluid-min-size--4) * 1rem) + (var(--fluid-max-size--4) - var(--fluid-min-size--4)) * var(--fluid-bp))); 
    
    --fluid-min-scale--3: var(--fluid-min-scale--1) * var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--3: var(--fluid-max-scale--1) * var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--3: (var(--fluid-min-size) * var(--fluid-min-scale--3)) / 16;
    --fluid-max-size--3: (var(--fluid-max-size) * var(--fluid-max-scale--3)) / 16;
    --step--3: calc(((var(--fluid-min-size--3) * 1rem) + (var(--fluid-max-size--3) - var(--fluid-min-size--3)) * var(--fluid-bp))); 
    
    --fluid-min-scale--2: var(--fluid-min-scale--1) * var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--2: var(--fluid-max-scale--1) * var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--2: (var(--fluid-min-size) * var(--fluid-min-scale--2)) / 16;
    --fluid-max-size--2: (var(--fluid-max-size) * var(--fluid-max-scale--2)) / 16;
    --step--2: calc(((var(--fluid-min-size--2) * 1rem) + (var(--fluid-max-size--2) - var(--fluid-min-size--2)) * var(--fluid-bp))); 
    
    --fluid-min-scale--1: var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--1: var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--1: (var(--fluid-min-size) * var(--fluid-min-scale--1)) / 16;
    --fluid-max-size--1: (var(--fluid-max-size) * var(--fluid-max-scale--1)) / 16;
    --step--1: calc(((var(--fluid-min-size--1) * 1rem) + (var(--fluid-max-size--1) - var(--fluid-min-size--1)) * var(--fluid-bp)));
    
    --fluid-min-scale-0: var(--fluid-min-ratio);
    --fluid-max-scale-0: var(--fluid-max-ratio);
    --fluid-min-size-0: (var(--fluid-min-size)) / 16;
    --fluid-max-size-0: (var(--fluid-max-size)) / 16;
    --step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
    
    --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
    --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
    --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
    --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
    --step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
  
    --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
    --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
    --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
    --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
    --step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
  
    --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
    --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
    --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
    --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
    --step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
  
    --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
    --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
    --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
    --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
    --step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));
  
    --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
    --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
    --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
    --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
    --step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
  }

:root {
    /* color */
    --color-dark: hsla(208, 22%, 15%, 1);
    --color-light: hsla(0, 0%, 87%, 1);

    /* background */
    --bg-dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='hsla(208, 22%, 15%, 1)' fill-opacity='.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

    /* Typography */
    --font-family-display: "UntitledSerifDisplay", serif;
    --font-family-serif: "UntitledSerif", serif;
    --font-family-sans: "Untitled", sans-serif;
    --font-family-system: system-ui;
    --font-family-monospace: "UntitledMono", monospace;
    --font-size-title: var(--step-4);
    --font-size-lede: var(--step-2);
    --font-size-heading: var(--step-3);
    --font-size-subhead: var(--step-2);
    --font-size-body: var(--step-0);
    --font-size-reference: var(--step--2);
    --font-size-caption: var(--step--1);
    --font-size-default: 1em;
    --font-size-smaller: .8em;
    --letter-spacing-body: 0; /* change on dark mode */
    --line-height-solid: 1;
    --line-height-tight: 1.2;
    --line-height-loose: 1.6;
    --line-measure: 60ch;
    --word-spacing: 0;

    /* Container */
    --measure: 70ch;

    /* Borders */
    --border-radius-xsmall: .125rem;
    --border-radius-small: .25rem;
    --border-width-thin: 1px;
    --border-width-thick: .125rem;
    --border-width-thickest: .5rem;

    /* Spacing > Inline */
    --space-inline-small: .375rem;
    --space-inline: .75rem;

    /* Inset spacing */
    --inset: calc(.5rem + .25vw);
    --inset-squished: calc(var(--inset) / 2) var(--inset);
    --inset-small: calc(var(--inset) / 2);
    --inset-small-squished: calc(var(--inset-small) / 2) var(--inset-small);
    --inset-large: calc(var(--inset) * 2);
    --inset-large-squished: calc(var(--inset-large) / 2) var(--inset-large);

    /* Grids */
    --grid-gap: var(--step-0);
    --grid-content-width: 9rem;

    /* Animation */
    --transition-short: .15s;

    /* Container values */
    --container-inline-size: 100vw;
    --container-inline-inset: calc(100vw - var(--container-inline-size));
    --container-gutter: calc(var(--container-inline-inset) / 2);
}

@media (--from-large-viewport) {

    :root {
        --container-inline-size: 80vw;
    }
}

@media (--from-largest-viewport) {

    :root {
        --container-inline-size: 80rem;
    }
}

/**
 * Dark Mode
 */
@media (prefers-color-scheme: dark) {

    :root {
        --color-light: hsla(208, 22%, 15%, 1);
        --color-dark: hsla(0, 0%, 87%, 1);
        --bg-dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='hsla(0, 0%, 87%, 1)' fill-opacity='.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

        /* Typography */
        --letter-spacing-body: .025em;
    }
}

