/* ==========================================================================
 * #WEBFONT
 * ========================================================================== */

@font-face {
    font-weight: 400;
    font-family: Untitled;
    font-display: swap;
    src: url("../fonts/Untitled-Regular.woff2") format("woff2");
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: Untitled;
    font-display: swap;
    src: url("../fonts/Untitled-Italic.woff2") format("woff2");
}

@font-face {
    font-weight: 500;
    font-family: Untitled;
    font-display: swap;
    src: url("../fonts/Untitled-Medium.woff2") format("woff2");
}
