/* ==========================================================================
   #WEBFONT
   ========================================================================== */

/* -------------------------------------
   #SANS
   ------------------------------------- */

@font-face {
    font-family: Untitled;
    font-display: swap;
    src: url("../fonts/Untitled.woff2") format("woff2");
}




/* -------------------------------------
   #SERIF
   ------------------------------------- */

@font-face {
    font-weight: 400;
    font-family: UntitledSerif;
    font-display: swap;
    src: url("../fonts/UntitledSerif-Regular.woff2") format("woff2");
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: UntitledSerif;
    font-display: swap;
    src: url("../fonts/UntitledSerif-Italic.woff2") format("woff2");
}

@font-face {
    font-weight: 800;
    font-family: UntitledSerif;
    font-display: swap;
    src: url("../fonts/UntitledSerif-Bold.woff2") format("woff2");
}



/* -------------------------------------
   #DISPLAY
   ------------------------------------- */

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: UntitledSerifDisplay;
    font-display: swap;
    src: url("../fonts/UntitledSerifDisplay-VF.woff2") format("woff2");
}



/* -------------------------------------
   #MONO
   ------------------------------------- */

@font-face {
    font-weight: 400;
    font-family: UntitledMono;
    font-display: swap;
    src: url("../fonts/UntitledMono-Regular.woff2") format("woff2");
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: UntitledMono;
    font-display: swap;
    src: url("../fonts/UntitledMono-Italic.woff2") format("woff2");
}
