/* ==========================================================================
 * #CUSTOM-PROPERTIES
 * ========================================================================== */

/* @link https://utopia.fyi/generator-mk-ii?c=320,21,1.2,1140,24,1.333,5,5, */

:root {
  --step--5: clamp(0.5275rem, 0.5943rem + -0.3341vw, 0.3563rem);
  --step--4: clamp(0.6331rem, 0.6948rem + -0.3085vw, 0.475rem);
  --step--3: clamp(0.7594rem, 0.8086rem + -0.2463vw, 0.6331rem);
  --step--2: clamp(0.9113rem, 0.9373rem + -0.1305vw, 0.8444rem);
  --step--1: clamp(1.0938rem, 1.0816rem + 0.061vw, 1.125rem);
  --step-0: clamp(1.3125rem, 1.2393rem + 0.3659vw, 1.5rem);
  --step-1: clamp(1.575rem, 1.4094rem + 0.828vw, 1.9994rem);
  --step-2: clamp(1.89rem, 1.5873rem + 1.5134vw, 2.6656rem);
  --step-3: clamp(2.2681rem, 1.7667rem + 2.5073vw, 3.5531rem);
  --step-4: clamp(2.7219rem, 1.9358rem + 3.9305vw, 4.7363rem);
  --step-5: clamp(3.2656rem, 2.0764rem + 5.9463vw, 6.3131rem);
}

:root {
    /* color */
    --color-dark: hsla(208, 21%, 9%, 1);
    --color-light: hsla(0, 0%, 87%, 1);

    /* background */
    --bg-dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='hsla(208, 22%, 15%, 1)' fill-opacity='.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

    /* Typography */
    --font-family-display: "UntitledSerifDisplay", serif;
    --font-family-serif: "UntitledSerif", serif;
    --font-family-sans: "Untitled", sans-serif;
    --font-family-system: system-ui;
    --font-family-monospace: "UntitledMono", monospace;
    --font-size-title: var(--step-4);
    --font-size-lede: var(--step-2);
    --font-size-heading: var(--step-3);
    --font-size-subhead: var(--step-2);
    --font-size-body: var(--step-0);
    --font-size-reference: var(--step--2);
    --font-size-caption: var(--step--1);
    --font-size-default: 1em;
    --font-size-smaller: .8em;
    --letter-spacing-body: 0; /* change on dark mode */
    --line-height-solid: 1;
    --line-height-tight: 1.2;
    --line-height-loose: 1.6;
    --line-measure: 60ch;
    --word-spacing: 0;

    /* Container */
    --measure: 70ch;

    /* Borders */
    --border-radius-xsmall: .125rem;
    --border-radius-small: .25rem;
    --border-width-thin: 1px;
    --border-width-thick: .125rem;
    --border-width-thickest: .5rem;

    /* Spacing > Inline */
    --space-inline-small: .375rem;
    --space-inline: .75rem;

    /* Inset spacing */
    --inset: var(--step--2);
    --inset-squished: calc(var(--inset) / 2) var(--inset);
    --inset-small: var(--step--4);
    --inset-small-squished: calc(var(--inset-small) / 2) var(--inset-small);
    --inset-large: var(--step-0);
    --inset-large-squished: calc(var(--inset-large) / 2) var(--inset-large);

    /* Grids */
    --grid-gap: var(--step-0);
    --grid-content-width: 9rem;

    /* Animation */
    --transition-short: .15s;

    /* Container values */
    --container-inline-size: 100vw;
    --container-inline-inset: calc(100vw - var(--container-inline-size));
    --container-gutter: calc(var(--container-inline-inset) / 2);
}

@media (--from-large-viewport) {

    :root {
        --container-inline-size: 80vw;
    }
}

@media (--from-largest-viewport) {

    :root {
        --container-inline-size: 80rem;
    }
}

/**
 * Dark Mode
 */
@media (prefers-color-scheme: dark) {

    :root {
        --color-light: hsla(208, 21%, 9%, 1);
        --color-dark: hsla(0, 0%, 87%, 1);
        --bg-dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='hsla(0, 0%, 87%, 1)' fill-opacity='.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

        /* Typography */
        --letter-spacing-body: .025em;
    }
}
