/* ==========================================================================
   #EXTEND
   ========================================================================== */

/* -------------------------------------
   #TYPOGRAPHIC
   ------------------------------------- */

/**
 * 1. Avoid adding more letter-spacing when on dark mode
 */
%title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title, 500);
    font-family: var(--font-family-title, var(--font-family-sans));
    line-height: var(--line-height-title, var(--line-height-tight));
    letter-spacing: 0; /* [1] */
    font-variation-settings: "wght" var(--font-weight-title, 700);
    hanging-punctuation: first;
}

%lede {
    font-size: var(--font-size-lede);
    font-weight: var(--font-weight-lede, 400);
    font-family: var(--font-family-lede, var(--font-family-sans));
    line-height: var(--line-height-lede, var(--line-height-tight));
    letter-spacing: .02em;
    font-variation-settings: "wght" var(--font-weight-lede, 500);
    hanging-punctuation: first;
}

/**
 * 1. Avoid adding more letter-spacing when on dark mode
 */
%heading {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading, 500);
    font-family: var(--font-family-heading, var(--font-family-sans));
    line-height: var(--line-height-heading, var(--line-height-tight));
    letter-spacing: 0; /* [1] */
    font-variation-settings: "wght" var(--font-weight-heading, 600);
    hanging-punctuation: first;
}

/**
 * 1. Avoid adding more letter-spacing when on dark mode
 */
%subhead {
    font-size: var(--font-size-subhead);
    font-weight: var(--font-weight-subhead, 500);
    font-family: var(--font-family-subhead, var(--font-family-sans));
    line-height: var(--line-height-subhead, var(--line-height-tight));
    letter-spacing: 0; /* [1] */
    font-variation-settings: "wght" var(--font-weight-subhead, 600);
    hanging-punctuation: first;
}

%overline {
    font-size: var(--font-size-caption);
    font-weight: 800;
    font-family: var(--font-family-overline, inherit);
    text-transform: uppercase;
    letter-spacing: .125em;
}

%body {
    --flow-space: var(--line-height-body);
    --line-height-body: var(--line-height-loose);
    font-size: var(--font-size-body);
    font-family: var(--font-family-sans);
    font-variant: oldstyle-nums;
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-body);
    hanging-punctuation: first;
    hyphens: auto;
    word-spacing: var(--word-spacing);
}

%reference {
    --flow-space: calc(var(--line-height-reference) / 2);
    --line-height-reference: var(--line-height-tight);
    font-size: var(--font-size-reference);
    font-variant: oldstyle-nums;
    line-height: var(--line-height-reference);
    letter-spacing: var(--letter-spacing-body);
    hanging-punctuation: first;
    hyphens: auto;
    word-spacing: var(--word-spacing);
}

%caption {
    --flow-space: calc(var(--line-height-caption) / 3);
    --line-height-caption: var(--line-height-tight);
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    letter-spacing: var(--letter-spacing-body);
}



/**
 * Type features
 *
 * more info here:
 * https://practice.typekit.com/lesson/caring-about-opentype-features/
 */

%type-features-body {
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: oldstyle-nums proportional-nums;
}

%type-features-inline {
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum",
                           "smcp", "c2sc";
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: oldstyle-nums proportional-nums;
}

%type-features-display {
    font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
    font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
}

%type-features-data {
    font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: lining-nums tabular-nums;
}

%type-features-fraction {
    font-feature-settings: "kern", "liga", "clig", "calt", "frac";
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: diagonal-fractions;
}

%type-features-fn {
    font-feature-settings: "kern", "liga", "clig", "calt", "subs";
    font-variant-ligatures: common-ligatures contextual;
    font-variant-position: sub;
}





/* -------------------------------------
   #LINKS
   ------------------------------------- */

%text-decoration {
    text-decoration-color: var(--color-dark);
}

%text-decoration:hover {
    text-decoration: none;
}





/* -------------------------------------
   #A11Y
   ------------------------------------- */

%visually-hidden {
    position: absolute;

    border: 0;
    margin: -1px;
    padding: 0;
    block-size: 1px;
    clip: rect(0 0 0 0);
    inline-size: 1px;
    overflow: hidden;
}
