/* ==========================================================================
   #BOX
   ========================================================================== */

/***
 * Variable in use in .o-box are:
 *
 * --box__padding-inline
 * --box__padding-block
 * --box__color
 * --box__background-color;
 */
%box {
    color: var(--box__color, var(--color-dark));

    background-color: var(--box__background-color, var(--color-light));
    padding-block: var(--box__padding-block, var(--step-0));
    padding-inline: var(--box__padding-inline, var(--step-0));
}





/* -----------------------------------
   #BOX MODIFIER
   ----------------------------------- */

/***
 * Dark becomes light, and light becomes dark
 */
%box--invert {
    --box__color: var(--color-light);
    --box__background-color: var(--color-dark);
}

%box--restore {
    --box__color: var(--color-dark);
    --box__background-color: var(--color-light);
}



/***
 * Inset box
 */
%box--inset {
    --box__padding-inline: var(--space-m);
    --box__padding-block: var(--space-s);
}

%box--inset-squished {
    --box__padding-inline: var(--space-xs);
    --box__padding-block: var(--space-2xs);
}

%box--inset-small-squished {
    --box__padding-inline: var(--space-2xs);
    --box__padding-block: var(--space-3xs);
}

%box--inset-large-squished {
    --box__padding-inline: var(--space-xl);
    --box__padding-block: var(--space-l);
}
