/* ==========================================================================
   #BOX
   ========================================================================== */

/***
 * Variable in use in .o-box are:
 *
 * --box__padding-inline
 * --box__padding-block
 * --box__color
 * --box__background-color;
 */
%box {
    color: var(--box__color, var(--color-dark));

    background-color: var(--box__background-color, var(--color-light));
    padding-block: var(--box__padding-block, var(--step-0));
    padding-inline: var(--box__padding-inline, var(--step-0));
}





/* -----------------------------------
   #BOX MODIFIER
   ----------------------------------- */

/***
 * Dark becomes light, and light becomes dark
 */
%box--invert {
    --box__color: var(--color-light);
    --box__background-color: var(--color-dark);
}




/***
 * Inset box
 */
%box--inset {
    --box__padding-inline: var(--inset);
    --box__padding-block: var(--inset);
}

%box--inset-squished {
    --box__padding-inline: var(--inset);
    --box__padding-block: calc(var(--inset) / 2);
}

%box--inset-small-squished {
    --box__padding-inline: var(--inset-small);
    --box__padding-block: calc(var(--inset-small) / 2);
}

%box--inset-large-squished {
    --box__padding-inline: var(--inset-large);
    --box__padding-block: calc(var(--inset-large) / 2);
}
