/* ==========================================================================
   #UTILITIES-COLORS
   ========================================================================== */

/* -------------------------------------
   #COLOR
   ------------------------------------- */

/**
 * Neutral
 */
.u-color-neutral {
    color: var(--color-neutral);
}

.u-color-neutral-darkest {
    color: var(--color-neutral-darkest);
}

.u-color-neutral-darker {
    color: var(--color-neutral-darker);
}

.u-color-neutral-dark {
    color: var(--color-neutral-dark);
}

.u-color-neutral-light {
    color: var(--color-neutral-light);
}

.u-color-neutral-lighter {
    color: var(--color-neutral-lighter);
}

.u-color-neutral-lightest {
    color: var(--color-neutral-lightest);
}



/**
 * Alpha
 */
.u-color-alpha-highest {
    color: var(--color-alpha-highest);
}

.u-color-alpha-high {
    color: var(--color-alpha-high);
}

.u-color-alpha-low {
    color: var(--color-alpha-low);
}

.u-color-alpha-lowest {
    color: var(--color-alpha-lowest);
}



/**
 * Primary
 */
.u-color-primary {
    color: var(--color-primary);
}

.u-color-primary-darkest {
    color: var(--color-primary-darkest);
}

.u-color-primary-darker {
    color: var(--color-primary-darker);
}

.u-color-primary-dark {
    color: var(--color-primary-dark);
}

.u-color-primary-light {
    color: var(--color-primary-light);
}

.u-color-primary-lighter {
    color: var(--color-primary-lighter);
}

.u-color-primary-lightest {
    color: var(--color-primary-lightest);
}



/**
 * Assignments
 */
.u-color-accent {
    color: var(--color-accent);
}

.u-color {
    color: var(--color);
}

.u-color-text {
    color: var(--color-text);
}

.u-color-link {
    color: var(--color-link);
}

.u-color-link-underline {
    color: var(--color-link-underline);
}

.u-color-rule {
    color: var(--color-rule);
}

.u-color-offset {
    color: var(--color-offset);
}

.u-color-delete {
    color: var(--color-delete);
}

.u-color-highlight {
    color: var(--color-highlight);
}

.u-color-insert {
    color: var(--color-insert);
}

.u-color-focus {
    color: var(--color-accent);
}





/* -------------------------------------
   #BACKGROUNDS
   ------------------------------------- */

/**
 * Neutral
 */
.u-background-neutral {
    background-color: var(--color-neutral);
}

.u-background-neutral-darkest {
    background-color: var(--color-neutral-darkest);
}

.u-background-neutral-darker {
    background-color: var(--color-neutral-darker);
}

.u-background-neutral-dark {
    background-color: var(--color-neutral-dark);
}

.u-background-neutral-light {
    background-color: var(--color-neutral-light);
}

.u-background-neutral-lighter {
    background-color: var(--color-neutral-lighter);
}

.u-background-neutral-lightest {
    background-color: var(--color-neutral-lightest);
}



/**
 * Alpha
 */
.u-background-alpha-highest {
    background-color: var(--color-alpha-highest);
}

.u-background-alpha-high {
    background-color: var(--color-alpha-high);
}

.u-background-alpha-low {
    background-color: var(--color-alpha-low);
}

.u-background-alpha-lowest {
    background-color: var(--color-alpha-lowest);
}



/**
 * Primary
 */
.u-background-primary {
    background-color: var(--color-primary);
}

.u-background-primary-darkest {
    background-color: var(--color-primary-darkest);
}

.u-background-primary-darker {
    background-color: var(--color-primary-darker);
}

.u-background-primary-dark {
    background-color: var(--color-primary-dark);
}

.u-background-primary-light {
    background-color: var(--color-primary-light);
}

.u-background-primary-lighter {
    background-color: var(--color-primary-lighter);
}

.u-background-primary-lightest {
    background-color: var(--color-primary-lightest);
}



/**
 * Assignments
 */
.u-background-accent {
    background-color: var(--color-accent);
}

.u-background-background {
    background-color: var(--color-background);
}

.u-background-text {
    background-color: var(--color-text);
}

.u-background-link {
    background-color: var(--color-link);
}

.u-background-link-underline {
    background-color: var(--color-link-underline);
}

.u-background-rule {
    background-color: var(--color-rule);
}

.u-background-offset {
    background-color: var(--color-offset);
}

.u-background-delete {
    background-color: var(--color-delete);
}

.u-background-highlight {
    background-color: var(--color-highlight);
}

.u-background-insert {
    background-color: var(--color-insert);
}

.u-background-focus {
    background-color: var(--color-accent);
}
