/* ==========================================================================
   #U-IMAGES
   ========================================================================== */

.u-avatar {
    border-radius: var(--border-radius-small);
    max-height: var(--space-l);
    max-width: var(--space-l);
}

