/* ==========================================================================
   #U-IMAGES
   ========================================================================== */

.u-avatar {
    max-width: var(--s2);
    max-height: var(--s2);
    border-radius: var(--border-radius-small);
}

