/* ======================================================================
   #LINK-ZONE
   ====================================================================== */

.u-link-zone {
    position: relative;
}

.u-link-zone__link::after {
    content: "";
    inset: 0;
    position: absolute;
}
