/* ==========================================================================
   #TYPOGRAPHIE
   ========================================================================== */

/* -------------------------------------
   #TYPOGRAPHIC-UTILITIES
   ------------------------------------- */

.u-title {
    @extend %title;
}

.u-heading {
    @extend %heading;
}

.u-subhead {
    @extend %subhead;
}

.u-overline {
    @extend %overline;
}

.u-lede {
    @extend %lede;
}

.u-body {
    @extend %body;
}

.u-reference {
    @extend %reference;
}

.u-caption {
    @extend %caption;
}

.u-font-weight\:bold {
    font-weight: 700 !important;
    font-variation-settings: "wght" 700 !important;
}

.u-font-family\:script {
    font-family: var(--font-family-script) !important;
}

.u-font-family\:monospace {
    font-family: var(--font-family-monospace) !important;
}

.u-font-style\:italic {
    font-style: italic;
}



/* -------------------------------------
   #U-SUP
   ------------------------------------- */

.u-sup {
    font-size: .85em;
    vertical-align: super;
}

svg.u-sup {
    max-width: .85em;
    max-height: .85em;
}

