/* ==========================================================================
   #UTILITIES-COLORS
   ========================================================================== */

/* -------------------------------------
   #COLOR
   ------------------------------------- */

.u-color-light {
    color: var(--color-light);
}

.u-color-dark {
    color: var(--color-dark);
}

.u-background-light {
    background-color: var(--color-light);
}

.u-background-dark {
    background-color: var(--color-dark);
}
