/* ==========================================================================
   #TYPOGRAPHIE
   ========================================================================== */

/* -------------------------------------
   #TYPOGRAPHIC-UTILITIES
   ------------------------------------- */

.u-title {
    @extend %title;
}

.u-heading {
    @extend %heading;
}

.u-subhead {
    @extend %subhead;
}

.u-overline {
    @extend %overline;
}

.u-lede {
    @extend %lede;
}

.u-body {
    @extend %body;
}

.u-reference {
    @extend %reference;
}

.u-caption {
    @extend %caption;
}

/* -------------------------------------
   #U-SUP
   ------------------------------------- */

.u-sup {
    font-size: .85em;
    vertical-align: super;
}

svg.u-sup {
    max-width: .85em;
    max-height: .85em;
}

