{%- set webmentionUrl -%}{{ app.url }}{{ page.url | url }}{%- endset -%}
{% extends './base.njk' %}
{% block main %}
    <div class="[ o-stack o-stack--space-3xl ] o-container o-box">
        {% include 'header.njk' %}
        {% include 'footer.njk' %}
    </div>
    {% include 'content.njk' %}
    {% include 'webmentions-list.njk' %}
{% endblock %}
