{% set title %}Repost: <time>{{ date | date(dates.datetime_full) }}</time>{% endset %}

{%- set webmentionUrl -%}{{ app.url }}{{ page.url | url }}{%- endset -%}
{% extends './base.njk' %}
{% block main %}
    <div class="[ o-box o-box--step-1 ] [ o-box o-box--container-big ] c-background">
        <div class="u-visually-hidden">
            {% include 'header.njk' %}
        </div>
        {% include 'footer.njk' %}
    </div>
    {% include 'content.njk' %}
    {% include 'webmentions-list.njk' %}
{% endblock %}
